.header-ab {
    padding-top: 164px;
}
.header-about {
    @extend %df;
    @extend %jcsb;
    // .header-about__wrap

    &__wrap {

        // .header-about__wrap_left

        &_left {
        }

        // .header-about__wrap_right

        &_right {
            padding-top: 3px;
        }
    }

    // .header-about__title

    &__title {
        @extend %h1-title;
        @extend %ttu;
        margin-bottom: 83px;
    }

    // .header-about__adv

    &__adv {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-columns: 1fr 1fr;
        column-gap: 164px;
        row-gap: 37px;
    }

    // .header-about__adv-item

    &__adv-item {
    }

    // .header-about__adv-num

    &__adv-num {
        @extend %h1-title;
        color: $dark_gray;
        margin-bottom: 18px;
    }

    // .header-about__adv-text

    &__adv-text {
        @extend %text;
        color: $black;
    }
}
.about-cont-sect {
    padding-top: 144px;
}
.about-cont {
    @extend %df;
    @extend %jcsb;
    padding-right: 57px;

    // .about-cont__wrap

    &__wrap {
        max-width: 450px;
        // .about-cont__wrap_left

        &_left {
        }

        // .about-cont__wrap_right

        &_right {
        }
    }

    // .about-cont__title

    &__title {
        @extend %h2-title;
        color: $black;
        margin-bottom: 36px;
    }

    // .about-cont__text

    &__text {
        @extend %text;
        color: $black;
    }
}
.about-contact-sect {
    padding-top: 166px;
    padding-bottom: 111px;
}
.about-contact {

		// .about-contact__title

		&__title {
            @extend %h1-title;
            color: $black;
            margin-bottom: 46px;
		}
}