@include bp(1024px) {
    .catalog-header-sect {
        background-position-x: -128px;
        &.memory-header, &.ssd-header {
            background-position-x: -88px;
        }
    }
    .prod {
        &__hov-text {
            opacity: 1;
        }
        &__hov-text {
            span {
                opacity: 1;
            }
        }
        &__btn-maches {
            &.fixed {
                width: 130px;
                height: 38px;
                top: 7px;
            }
        }
        &__wrapper-btn {
            margin-top: 30px;
        }
        &__card {
            width: 230px;
            height: 290px;
            &-simple {
                width: 220px;
                height: 186px;
            }
        }
        &__wrap {
            &_title {
                flex-direction: column;
            }
            &_cards {
                &-prod-memory, &-prod-ssd {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }
    .distr-sect .pl-inset {
        padding-left: 168px;
    }
    .distr {
        grid-template-columns: 1fr;
        &__wrap_right {
            margin-top: 25px;
        }
    }
    .modal {
        width: 100%;
        padding-top: 0;
        &__wrap_top {
            padding-top: 20px;
            background-color: $white;
        }
        &__wrap-img {
            padding-top: 20px;
            // width: 250px;
        }
        &__img-view {
            // width: inherit;
        }
        &__wrap-img-preview {
        }
        &__inform {
            max-width: 452px;
        }
        &__wrap-technical {
            padding-top: 60px;
        }
    }
    .catalog-header-sect, 
    .catalog-header-sect.memory-header,
    .catalog-header-sect.ssd-header {
        height: 100vh;
        background-position: right bottom;
    }
}