@include bp(1190px) {
    .modal {
        width: 83%;
        &__wrap-img {
            width: 250px;
        }
        &__img-view {
            width: inherit;
        }
        &__wrap-img-preview {
            flex-wrap: wrap;
        }
        &__inform {
            max-width: 522px;
        }
    }
}