@include bp(766px) {
    .catalog-header-sect {
        padding-top: 89px;
        background-size: 710px;
        background-position: bottom right;
        &.case-header {
            background-position-x: -340px;
            background-size: 710px;
        }
        &.memory-header {
            background-position-x: -313px;
        }
        &.power-header {
            padding-top: 89px;
            background-position-x: -370px;
        }
        &.ssd-header {
            background-position-x: -278px;

        }
        .catalog-header {
            &__title,
            &__adv,
            &__text,
            &__icons {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    .catalog-header {
        &-sect {
            height: 100vh;
        }
        &__title {
            @extend %title-h1;
        }
        &__adv {
            margin-bottom: 26px;
            &-item {
                @extend %title-h2;
                margin-right: 15px;
            }
        }
        &__text {
            margin-bottom: 20px;
        }
        &__icons-item {
            margin-right: 30px;
        }
        &__icons-link {
            font-size: rem(12);
        }
    }
    .catalog-header-sect.memory-header .catalog-header__text {
        margin-bottom: 20px;
    }
    .prod {
        &__card {
            width: 100%;
            height: 360px;
            &-simple {
                width: 100%;
                height: 220px;
                margin-bottom: 15px;
            }
        }
    }
    .prod__filters {
        flex-wrap: wrap;
        &-item {
            margin-bottom: 10px;
        }
    }
    .prod__wrap_cards-prod-memory,
    .prod__wrap_cards-prod-ssd {
        display: block;
    }
    .prod__range-input {
        width: 141px;
    }
    .prod__range {
        align-items: flex-start;
        flex-direction: column;
        &-btn {
            margin-bottom: 15px;
        }
    }
    .distr-sect .pl-inset {
        padding-left: 20px;
    }
    .distr {
        width: 100%;
        display: block;
        &__item_0 {
            width: 100%;
        }
    }
    .distr__item-contact {
        flex-direction: column;
    }
    .distr__item-contacts {
        margin-bottom: 15px;
    }
    .distr__item_1, 
    .distr__item_2 {
        width: 100%;
        padding: 39px 60px 0px 70px;
    }
    .distr__item_3 {
        flex-direction: column;
        padding: 26px 24px 25px 24px;
    } 
    .distr__item_0 {
        height: auto;
    }
    .distr__item-btn {
        margin-top: 20px;
    }
    .modal {
        overflow-x: hidden;
        padding-left: 20px;
        &__title {
            @extend %title-h1;
            margin-left: 20px;
        }
        &__wrap_bot {
            flex-direction: column;
        }
        &__tech-text_left,
        &__tech-text_right {
            font-size: rem(10);
        }
        &__wrap-img-preview {
            flex-direction: column;
        }
        &__print {
            display: none;
        }
        &__img-btn {
            width: 60px;
            height: 60px;
        }
        &__pdf {
            width: 117px;
            height: 32px;
            margin-right: 0;
            font-size: rem(12);
        }
        &__inform {
            max-width: 100%;
            width: auto;
        }
        &__wrap_top {
            // justify-content: space-between;
        }
        &__wrap-img-preview {
            padding-left: 0;
            margin-left: auto;
        }
        &__wrap-img-preview {
            position: relative;
            width: 60px;
            top: 0;
            right: 20px;
            margin-top: -270px;
            padding-top: 0;
        }
        &__wrap-icons {
            padding-top: 20px;
            padding-left: 0;
        }
        &__ico-item {
            margin-right: 30px;
        }
        &__ico-text {
            font-size: rem(16);
            em {
                font-size: rem(12);
            }
        }
        &__wrap-technical {
            padding-right: 2px;
        }
        &__tech-item {
            column-gap: 47px;
        }
    }
    .match {
        width: 100%;
        &__title {
            font-size: rem(16);
            margin-left: 20px;
        }
        &__wrap_top {
            padding-left: 20px;
        }
        &__titl-item {
            
        }
        &__titl-item {
            padding-left: 20px;
            font-size: rem(10);
        }
        &__slider-img {
            padding-left: 0;
        }
        &__slider-img-title-text {
            font-size: rem(15);
        }
        &__slider-data-item {
            padding-left: 10px;
            font-size: rem(10);
        }
        &__wrapper_left {
            min-width: 220px;
        }
        .swiper-scrollbar {
            left: 20px;
        }
    }
    .form__input {
        height: 40px;
    }
    .prod__btn-maches.fixed {
        top: 52px;
        right: 20px;
        transition: none;
    }
    .prod-sect {
        position: relative;
    }
}    