@include bp(400px) {
    .modal {
        &__title {
            font-size: rem(16);
        }
        &__wrap_top {
            padding-bottom: 10px;
        }
        &__pdf {
            width: 95px;
            height: 30px;
            font-size: rem(10);
        }
        &__wrap-img {
            width: 200px;
            padding-top: 0;
            position: relative;
            margin-bottom: 20px;
        }
        &__tech-item {
            column-gap: 10px;
            padding-left: 0;
            padding-right: 0;
        }
        &__tech-text_right {
            padding-right: 10px;
        }
    }
}

@include bp(360px) {
    .catalog-header-sect {
        padding-top: 89px;
        background-size: 410px;
        background-position: bottom right;
        &.case-header {
            background-position-x: -150px;
        }
        &.memory-header {
            background-size: 490px;
            background-position-x: -153px;
        }
        &.power-header {
            background-position-x: -160px;
        }
        &.ssd-header {
            background-position-x: -115px;
            background-size: 470px;
        }
    }
    .modal {
        &__title {
            font-size: rem(12);
        }
        &__wrap_top {
            padding-bottom: 10px;
        }
        &__pdf {
            width: 95px;
            height: 30px;
            font-size: rem(10);
        }
        &__wrap-img {
            width: 200px;
            padding-top: 0;
        }
        &__tech-item {
            column-gap: 10px;
            padding-left: 0;
            padding-right: 0;
        }
        &__tech-text_right {
            padding-right: 10px;
        }
    }
}