body {
    font-size: 16px;
    &[data-option="one"] {
        .home-header, 
        .home-power-sect,
        .home-memory-sect,
        .home-ssd-sect {
            position: relative;
            height: 100vh;
        }
    }
    &[data-option="two"] {
        .home-header, 
        .home-power-sect,
        .home-memory-sect,
        .home-ssd-sect {
            position: relative;
            height: 100vh;
        }
        .home-ssd-sect {
            padding-top: 110px;
        }
    }
    &[data-option="three"] {
        .home-header, 
        .home-power-sect,
        .home-memory-sect,
        .home-ssd-sect {
            transition: all .5s ease;
            // opacity: 0;
        }
        .header__wrap,
        .home-power__wrap,
        .home-memory__wrap,
        .home-ssd__wrap {
            transition: all .5s ease .3s;
            opacity: 0;
        }
        .header__wrap,
        .home-memory__wrap {
            transform: translateX(100px);
            
        }
        .home-power__wrap,
        .home-ssd__wrap {
            transform: translateX(-100px);
            
        }
        .home-header {
            background-position-x: -130px;
        }
        .home-power-sect {
            background-position-x: 300px;
        }
        .home-memory-sect {
            background-position-x: -440px;
            background-position-y: -110px;
        }
        .home-ssd-sect {
            background-position-x: 300px;
        }
        .home-header, 
        .home-power-sect,
        .home-memory-sect,
        .home-ssd-sect {
            &.visible {
                background-position-x: 0;
                opacity: 1;
                .header__wrap,
                .home-power__wrap,
                .home-memory__wrap,
                .home-ssd__wrap {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
    }
    &[data-option="four"] {
        // .nav__burger {
        //     margin-top: -2px;
        // }
        // .nav__burger-btn {
        //     &.active {
        //         span {
        //             &:last-child {
        //                 bottom: 10px;
        //             }
        //         }
        //     }
        // }
        // .nav__menu-link {
        //     font-size: rem(13);
        //     text-transform: uppercase;
        // }
        // .home-ssd__text {
        //     max-width: 400px;
        // }
        // .nav__pop {
        //     margin-top: 5px;
        // }
        // .sitebar__link {
        //     &::before {
        //         width: 20px;
        //     }
        //     &.active {
        //         &:before {
        //             width: 45px;
        //         }
        //     }
        // }
        // .nav__search-btn {
        //     .icon {
        //         stroke-width: 1px;   
        //     }
        // }
        // .home-header {
        //     z-index: 1;
        // }
        // .home-power-sect {
        //     position: relative;
        //     z-index: 3;
        //     padding-top: 290px;
        // }
        // .home-memory-sect {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100vh;
        //     z-index: 2;
        //     background-position-y: -110px;
        //     &.fix {
        //         position: fixed;
        //     }
        // }
        // .home-ssd-sect {
        //     z-index: 4;
        // }
        // .footer {
        //     position: relative;
        //     z-index: 5;
        // }
        
        
    }
}
img {
    display: inline-block;
    width: inherit;
    height: inherit;
}
a {
    &:hover {
        // color: $color_link_hover;
    }
}
.icon {
    stroke: currentColor;
    fill: transparent;
    &.black {
        color: $black;
    }
}
.home-header, 
.home-power-sect,
.home-memory-sect,
.home-ssd-sect {
    position: sticky;
    top: 0;
    @extend %bg-reset;
    background-size: 100% 100%;
    // background-attachment: scroll;
    padding-top: 297px;
    height: 100vh;
    transition: all .2s linear;
    overflow: hidden;
}

// .home-memory-sect {
//     height: 1000px;
// }
// .home-ssd-sect {
//     height: 100vh;
//     background-size: 100% 100%;   
// }
.header__wrap,
.home-power__wrap,
.home-memory__wrap,
.home-ssd__wrap {
    position: relative;
    z-index: 1;
    transition: all .5s linear;
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    @extend %db;
    transition: all .5s ease;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5;
}
.mob-img {
    display: none;
    // .mob-img__case

    &__case {
    }
    // .mob-img__power

    &__power {
    }
    // .mob-img__memory

    &__memory {
    }
    // .mob-img__ssd

    &__ssd {
    }
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $white;
    width: 100%;
    height: 100%;
    z-index: 999;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %ease;
    opacity: 1;
    // .preloader__logo
    &.show {
        .preloader {
            &__over {
                left: 100%;
                // transform: translateX(-50%) translateY(-50%);
                transition: 1107ms ease-in-out;
            }
        }
    }
    &.hide {
        opacity: 0;
        pointer-events: none;
    }
    &__logo {
        position: relative;
        img {
            width: 205px;
            height: 27px;
        }
    }

    // .preloader__over

    &__over {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
    }
}
.prel {
}
.wrapper-section {
    position: relative;
}
    
// }

@keyframes logoAnimation {
    from {
        left: 0;
    }

    to {
        left: 100%;
    }
}
.wpcf7-response-output {
    display: none !important;
}
.ajax-loader {
    display: none !important;
}
.wpcf7-form-control-wrap {
    @extend %dib;
    width: inherit;
}
.form__wrap_bot {
    .wpcf7-form-control-wrap {
        width: 100%;
    }
}
.form__wrap {
    br, p {
        display: none;
    }
}
.form__input {
    &.wpcf7-not-valid {
        color: tomato;
        border-color: tomato;
    }
}