.modal-form {
    position: fixed;
    top: 0;
    right: 0;
    width: 86%;
    height: 100vh;
    background-color: $white;
    z-index: 100;
    padding: 24px 0 0 54px;
    transform: translateX(100%);
    @extend %ease;
    &.open {
        transform: translateX(0);
    }
    // .modal-form__wrap

    &__wrap {

        // .modal-form__wrap_bot

        &_top {
            @extend %df;
            @extend %aic;
        }

        // .modal-form__wrap_bot

        &_bot {
            position: relative;
            max-width: 587px;
            margin-top: 152px;
            margin-left: 84px;
            @extend %ease;
            &.thnks {
                .form {
                    opacity: 0;
                    pointer-events: none;
                }
                .modal-form {
                    &__tanks {
                        opacity: 1;
                    }
                }
            }
            .form {
                max-width: 100%;
                &__input {
                    width: 279px;
                }
                &__message {
                    width: 100%;
                }
                &__btn {
                    width: 242px;
                }
            }
        }
    }

    // .modal-form__close

    &__close {
        @extend .modal__close;
    }

    // .modal-form__title

    &__title {
        @extend %h1-title;
        color: $black;
        margin-left: 57px;
    }

    // .modal-form__tanks

    &__tanks {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        max-height: 244px;
        border: 1px solid $dark_gray;
        padding: 39px 0 0 43px;
        pointer-events: none;
        background-color: $white;
        pointer-events: none;
        opacity: 0;
    }

    // .modal-form__tnks-wrap

    &__tnks-wrap {
        // @extend %db;
        // width: 100%;
        // height: 100%;
    }

    // .modal-form__tnks-title

    &__tnks-title {
        @extend %h1-title;
        color: $black;
        margin-bottom: 30px;
    }

    // .modal-form__tnks-text

    &__tnks-text {
        @extend %h2-title;
        color: $black;
    }
}
.form {
    max-width: 557px;
    // .form__wrap

    &__wrap {
        @extend %df;
        @extend %jcsb;
        // .form__wrap_top

        &_top {
        }

        // .form__wrap_middle

        &_middle {
            margin: 17px 0;
        }

        // .form__wrap_bot

        &_bot {
        }
    }

    // .form__input

    &__input {
        @extend %simple-input;
    }

    // .form__message

    &__message {
        @extend %simple-textarea;
    }

    // .form__btn

    &__btn {
        @extend %simple-btn;
        width: 228px;
        margin-top: 50px;
        span {
            pointer-events: none;
        }
    }
}
.m-cls {
}
.mod-form {
}
.mod-form-tnk {
}
