// ================ HeliosCondC ================
@include font_face(HeliosCondC, HeliosCondC);

%regular {
    font-family: 'HeliosCondC', sans-serif;
}
// ################ HeliosCondC ################

// ================ HeliosCondLightC ================
@include font_face(HeliosCondLightC, HeliosCondLightC);

%light {
    font-family: 'HeliosCondLightC', sans-serif;
}
// ################ HeliosCondC ################

// ================ HeliosCondC-Bold ================
@include font_face(HeliosCondC-Bold, HeliosCondC-Bold);

%bold {
    font-family: 'HeliosCondC-Bold', sans-serif;
}
// ################ HeliosCondC-Bold ################


// ====================== Font sizes =======================
%fz-12 {
    font-size: rem(12);
}
%fz-14 {
    font-size: rem(14);
}
%fz-18 {
    font-size: rem(18);
}
%fz-30 {
    font-size: rem(30);
}
// ###################### Font sizes ######################

// ====================== Line Height =======================
%lh-14 {
    line-height: rem(14);
}
%lh-16 {
    line-height: rem(16);
}
%lh-23 {
    line-height: rem(23);
}
%lh-24 {
    line-height: rem(24);
}
%lh-35 {
    line-height: rem(35);
}
// ###################### Line Height ######################

// ====================== Letter Spacing =======================
%ls-01 {
    letter-spacing: 0.1em;
}
%ls-05 {
    letter-spacing: 0.05em;
}
// ###################### Letter Spacing ######################

%ttu {
    text-transform: uppercase;
}

// ====================== Styles =======================

%h1-title {
    @extend %regular;
    @extend %fz-30;
    @extend %lh-35;
    @extend %ls-01;
}
%h2-title {
    @extend %regular;     
    @extend %fz-18;     
    @extend %lh-24;     
    @extend %ls-05;     
}
%btn-text {
    @extend %regular;
    @extend %fz-14;
    @extend %lh-16;
    @extend %ls-05;
}
%text {
    @extend %light;
    @extend %fz-14;
    @extend %lh-23;
    @extend %ls-05;
}
%small-text {
    @extend %regular;
    @extend %fz-12;
    @extend %lh-14;
}