.footer {
    position: relative;
    z-index: 5;
    padding-top: 71px;
    padding-bottom: 68px;
    background-color: $black;

    // .footer__logo
    
    &__wrapper {
        @extend %df;
        // @extend %aic;
    }

    // .footer__logo

    &__logo {
    }

    // .footer__logo-link

    &__logo-link {
    }

    // .footer__menu

    &__menu {
        @extend %df;
        margin-left: 87px;
        margin-top: 3px;
    }

    // .footer__menu-item

    &__menu-item {
        margin-right: 77px;
        &:nth-child(2) {
            margin-right: 50px;
        }
        &:nth-child(3) {
            margin-right: 55px;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    // .footer__menu-link

    &__menu-link {
        @extend %text;
        color: $white;
    }

    // .footer__wrap

    &__wrap {
        @extend %df;
        @extend %jcsb;
        width: 427px;
        margin-left: auto;
    }

    // .footer__des

    &__des {
        margin-top: -8px;
    }

    // .footer__des-link

    &__des-link {
        @extend %small-text;
        @extend %ls-05;
        color: $white;
        span {
            @extend %dib;
            max-width: 90px;
        }
        i {
            @extend %dib;
            margin-left: 4px;
        }
    }

    // .footer__copy

    &__copy {
        @extend %text;
        color: $white;
    }
}
