.navigation {
    position: fixed;
    top: 0;
    left: 0;
	width: 100%;
	padding-top: 33px;
	z-index: 21;
	.container {
		// padding-left: 0;
	}
}
.nav {
	@extend %df;
	@extend %aic;
	@extend %jcsb;
	&:after {
		position: fixed;
		top: 0;
		right: 0;
		content: '';
		display: block;
		width: 100%;
		height: 0;
		z-index: 0;
		background-color: $white;
		@extend %ease;
	}
	&.menu-open {
		&:after {
			height: 83px;
		}
		.nav__pop {
			transform: translateY(0);
			opacity: 1;
			pointer-events: all;
		}
	}
	// .nav__logo

	&__logo {
		position: relative;
		z-index: 1;
		
	}

	// .nav__logo-link

	&__logo-link {
		@extend %dib;
		width: 177px;
	}

	// .nav__burger

	&__burger {
		position: relative;
		z-index: 10;
		width: 22px;
		height: 21px;
		margin-top: -2px;
		margin-left: 28px;
	}

	// .nav__burger-btn

	&__burger-btn {
		position: relative;
		@extend %df;
		flex-direction: column;
		@extend %jcc;
		width: 100%;
		height: 100%;
		@extend %ease; 
		span {
			display: block;
			width: 22px;
			height: 1px;
			border-radius: 7px;
			background-color: $black;
			transition: all .5s ease;
			pointer-events: none;
			&:first-child {
				position: absolute;
				top: 0;
				left: 0px;
			}
			&:last-child {
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
		&.active {
			span {
				background-color: $black;
				&:first-child {
					top: 10px;
					transform: rotate(45deg);
				}
				&:nth-child(2) {
					height: 0;
				}
				&:last-child {
					bottom: 10px;
					transform: rotate(-45deg);
				}
			}
		}
	}

	// .nav__pop

	&__pop {
		position: fixed;
		right: 122px;
		top: 28px;
		@extend %df;
		@extend %aic;
		@extend %ease;
		transform: translateY(-70px);
		opacity: 0;
		pointer-events: none;
		z-index: 1;
		margin-top: 5px;
	}

	// .nav__menu
 
	&__menu {
		@extend %df;
		@extend %aic;
		margin-top: 2px;
	}

	// .nav__menu-item

	&__menu-item {
		margin-right: 50px;
		&:last-child {
			margin-right: 0;
		}
	}

	// .nav__menu-link

	&__menu-link {
		@extend %h2-title;
		color: $black;
		font-size: rem(13);
		text-transform: uppercase;
		span {
			pointer-events: none;
		}
		&:hover {
			color: $cta;
		}
	}

	// .nav__menu-inset

	&__menu-inset {
		display: none;
	}

	// .nav__menu-ins-item

	&__menu-ins-item {
		margin-bottom: 12px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	// .nav__menu-ins-link

	&__menu-ins-link {
		position: relative;
		@extend %df;
		@extend %aic;
		@extend %btn-text;
		color: $black;
		&::before {
			content: '';
			@extend %db;
			width: 11px;
			height: 1px;
			background-color: $black;
			margin-right: 12px;
			// transition: all .3s ease;
		}
		&.active {
			color: $cta;
			&:before {
				width: 45px;
				margin-right: 16px;
				background-color: $cta;
			}
		}
	}

	// .nav__search

	&__search {
		padding-left: 95px;
		@extend %ease;
		&.active {
			padding-left: 63px;
			.nav__search-wrap {
				padding-right: 13px;
			}
			.nav__search-input {
				width: 288px;
				margin-right: 0;
				opacity: 1;
			}
			.nav__search-btn {
				pointer-events: all;
			}
		}
	}

	// .nav__search-form

	&__search-form {
		@extend %df;
		@extend %aic;
	}

	// .nav__search-wrap
	
	&__search-wrap {
		@extend %ease;
		// padding-right: 13px;
	}
	
	// .nav__search-input
	&__search-input {
		@extend %db;
		@extend %h2-title;
		@extend %ease;
		opacity: 0;
		width: 22px;
		margin-right: -20px;
		border: none;
		border-bottom: 1px solid $dark_gray;
		&.error {
			border-bottom-color: tomato;
			color: tomato;
		}
	}

	// .nav__search-btn

	&__search-btn {
		width: 20px;
		height: 20px;
		pointer-events: none;
		.icon {
			width: inherit;
			height: inherit;
			fill: transparent;
			stroke-width: 1px;
			stroke-linecap: round;
			stroke-linejoin: round;
		}
	}
}
.sitebar {
	position: fixed;
	height: 100vh;
	z-index: 20;
	@extend %df;
	@extend %aic;
	@extend %jcc;
	
	&.white {
		a {
			color: $white;
			&:before {
				background-color: $white;
			}
		}
	}
	&.black-3 {
		li:nth-child(4) {
			a {
				color: $black;
				&:before {
					background-color: $black;
				}
			}
		}
	}
	&.black-2 {
		li:nth-child(3) {
			a {
				color: $black;
				&:before {
					background-color: $black;
				}
			}
		}
	}
	&.black-1 {
		li:nth-child(2) {
			a {
				color: $black;
				&:before {
					background-color: $black;
				}
			}
		}
	}
	&.black-0 {
		li:nth-child(1) {
			a {
				color: $black;
				&:before {
					background-color: $black;
				}
			}
		}
	}
	// .sitebar__wrap

	&__wrap {
		padding-left: 20px;
		padding-top: 108px;
	}

	// .sitebar__item

	&__item {
		margin-bottom: 35px;
	}

	// .sitebar__link

	&__link {
		position: relative;
		@extend %df;
		@extend %aic;
		@extend %small-text;
		color: $black;
		transition: none;
		transition: all .3s ease;
		@extend %ttu;
		font-size: rem(12); 
		span {
			pointer-events: none;
		}
		&::before {
			content: '';
			@extend %db;
			width: 20px;
			height: 1px;
			background-color: $black;
			margin-right: 12px;
			transition: all .3s ease;
		}	
		&.active {
			&::before {
				width: 45px;
				margin-right: 16px;
			}
		}
		&:hover {
			color: $cta !important;
			&::before {
				background-color: $cta !important;
			}
		}
	}
}