.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-atx-case {
	font-size:(33/10)*1rem;
	width:(22/33)*1em;
}
.icon-atx-power {
	font-size:(26/10)*1rem;
	width:(26/26)*1em;
}
.icon-check {
	font-size:(34/10)*1rem;
	width:(30/34)*1em;
}
.icon-dimm-memory {
	font-size:(19/10)*1rem;
	width:(39/19)*1em;
}
.icon-dom-ssd {
	font-size:(21/10)*1rem;
	width:(30/21)*1em;
}
.icon-fixed-bom {
	font-size:(40/10)*1rem;
	width:(84/40)*1em;
}
.icon-full-width {
	font-size:(37/10)*1rem;
	width:(57/37)*1em;
}
.icon-low-votage {
	font-size:(37/10)*1rem;
	width:(89/37)*1em;
}
.icon-mail {
	font-size:(15/10)*1rem;
	width:(21/15)*1em;
}
.icon-matx-case {
	font-size:(27/10)*1rem;
	width:(22/27)*1em;
}
.icon-metal-case {
	font-size:(34/10)*1rem;
	width:(50/34)*1em;
}
.icon-mitx-case {
	font-size:(32/10)*1rem;
	width:(38/32)*1em;
}
.icon-mtbf-logo {
	font-size:(37/10)*1rem;
	width:(75/37)*1em;
}
.icon-nand-original-logo {
	font-size:(37/10)*1rem;
	width:(78/37)*1em;
}
.icon-on-of {
	font-size:(43/10)*1rem;
	width:(57/43)*1em;
}
.icon-phone {
	font-size:(16/10)*1rem;
	width:(10/16)*1em;
}
.icon-power-product {
	font-size:(34/10)*1rem;
	width:(22/34)*1em;
}
.icon-print {
	font-size:(26/10)*1rem;
	width:(26/26)*1em;
}
.icon-rapair {
	font-size:(34/10)*1rem;
	width:(34/34)*1em;
}
.icon-sata-product {
	font-size:(22/10)*1rem;
	width:(33/22)*1em;
}
.icon-sata-ssd {
	font-size:(20/10)*1rem;
	width:(30/20)*1em;
}
.icon-search-ico {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-sodimm-memory {
	font-size:(19/10)*1rem;
	width:(24/19)*1em;
}
.icon-tfx-power {
	font-size:(22/10)*1rem;
	width:(45/22)*1em;
}
.icon-thumbs {
	font-size:(29/10)*1rem;
	width:(24/29)*1em;
}
.icon-usb {
	font-size:(34/10)*1rem;
	width:(21/34)*1em;
}
.icon-usb-c {
	font-size:(33/10)*1rem;
	width:(20/33)*1em;
}
.icon-ventilation {
	font-size:(36/10)*1rem;
	width:(36/36)*1em;
}
.icon-voltage-product {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-warranty {
	font-size:(35/10)*1rem;
	width:(50/35)*1em;
}
