.home-header {
    // position: sticky;
    // top: 0; 
    background-image: url($bg + 'home-header-bg.jpg');
    background-color: $white;
    z-index: 1;
}
.container {
}
.header {
    // .header__wrap

    &__wrap {
        max-width: 421px;
        margin-left: auto;
    }

    // .header__title

    &__title {
        @extend %h1-title;
        @extend %ttu;
        margin-bottom: 24px;
    }

    // .header__text

    &__text {
        @extend %regular;
        @extend %fz-12;
        @extend %lh-16;
        @extend %ls-01;
        color: #000;
        margin-left: 44px;
        max-width: 331px;
        margin-bottom: 37px;
    }


    // .header__adv

    &__adv {
        @extend %df;
        margin-bottom: 61px;
    }

    // .header__adv-item

    &__adv-item {
        @extend %h2-title;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }

    // .header__adv-text

    &__adv-text {
    }

    // .header__btn

    &__btn {
        @extend %home-page-btn;
        // @extend %simple-btn;
    }
}
