.home-power-sect {
	position: relative;
	z-index: 3;
    background-image: url($bg + 'home-sect-2-bg.jpg');
	padding-top: 290px;
	background-color: #EAEAEA;
}
.container {
}
.home-power {

		// .home-power__wrap

		&__wrap {
            padding-left: 260px;
		}

		// .home-power__title

		&__title {
            @extend %h1-title;
            @extend %ttu;
            margin-bottom: 24px;
		}

		// .home-power__text

		&__text {
			@extend %regular;
			@extend %fz-12;
			@extend %lh-16;
			@extend %ls-01;
			color: #000;
			margin-left: 44px;
			max-width: 331px;
			margin-bottom: 37px;
		}

		// .home-power__adv

		&__adv {
            @extend %df;
            margin-bottom: 61px;
		}

		// .home-power__adv-item

		&__adv-item {
            @extend %h2-title;
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
		}

		// .home-power__adv-text

		&__adv-text {
		}

		// .home-power__btn

		&__btn {
			@extend %home-page-btn;
			&:after,
			&:before {
				background-color: #EAEAEA;
			}
            // @extend %simple-btn;
		}
}
