.home-memory-sect {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 2;
	background-image: url($bg + 'home-sect-3-bg.jpg');
	background-color: $white;
	padding-top: 330px;
	background-size: 100% auto;
	background-position-y: -110px;
	&.fix {
		position: fixed;
	}
}
.hms-sect {
	height: 100vh;
}
.container {
}
.home-memory {

	// .home-memory__wrap

	&__wrap {
		max-width: 443px;
		margin-left: auto;
	}

	// .home-memory__title

	&__title {
		@extend %h1-title;
		@extend %ttu;
		margin-bottom: 24px;
	}

	// .home-memory__text

	&__text {
		@extend %regular;
		@extend %fz-12;
		@extend %lh-16;
		@extend %ls-01;
		color: #000;
		margin-left: 44px;
		max-width: 347px;
		margin-bottom: 37px;
	}

	// .home-memory__adv

	&__adv {
		@extend %df;
		margin-bottom: 61px;
	}

	// .home-memory__adv-item

	&__adv-item {
		@extend %h2-title;
		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}
	}

	// .home-memory__adv-text

	&__adv-text {
	}

	// .home-memory__btn

	&__btn {
		@extend %home-page-btn;
		
		// @extend %simple-btn;
	}
}
