.home-ssd-sect {
    background-image: url($bg + 'home-sect-4-bg.jpg');
    padding-top: 168px;
    background-color: #EAEAEA;
    background-size: 100% auto;
    z-index: 4;
}
.container {
}
.home-ssd {

    // .home-ssd__wrap

    &__wrap {
        padding-left: 260px;
    }

    // .home-ssd__title

    &__title {
        @extend %h1-title;
        @extend %ttu;
        margin-bottom: 24px;
    }
    
    // .home-ssd__text

    &__text {
        @extend %regular;
        @extend %fz-12;
        @extend %lh-16;
        @extend %ls-01;
        color: #000;
        margin-left: 44px;
        max-width: 400px;
        margin-bottom: 37px;
    }

    // .home-ssd__adv

    &__adv {
        @extend %df;
        margin-bottom: 61px;
    }

    // .home-ssd__adv-item

    &__adv-item {
        @extend %h2-title;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }

    // .home-ssd__adv-text

    &__adv-text {
    }

    // .home-ssd__btn

    &__btn {
        @extend %home-page-btn;
        &:after,
        &:before {
            background-color: #EAEAEA;
        }
        // @extend %simple-btn;
    }
}
