.match {
    position: fixed;
    top: 0;
    right: 0;
    width: 86%;
    height: 100vh;
    background-color: $white;
    z-index: 100;
    padding-top: 25px;
    overflow-y: scroll;
    transform: translateX(100%);
    @extend %ease;
    &.open {
        transform: translateX(0);
    }
    &::-webkit-resizer {
        background-image: url(main.css);
        width: 4px;
        height: 0px;
        background-repeat: no-repeat;
    }
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-button {
        background-image: url(main.css);
        width: 4px;
        height: 0px;
        background-repeat: no-repeat;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $dark_gray;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: rgb(255, 255, 255);
    }
    // .match__wrap

    &__wrap {

        // .match__wrap_top

        &_top {
            padding-left: 54px;
        }

        // .match__wrap_bot

        &_bot {
            position: relative;
            @extend %df;
            padding-top: 42px;
            width: 100%;
        }
    }

    // .match__wrap-title

    &__wrap-title {
        @extend %df;
        @extend %aic;
    }

    // .match__close

    &__close {
        @extend .modal__close;
    }

    // .match__title

    &__title {
        @extend %h1-title;
        color: $black;
        margin-left: 57px;
    }

    // .match__wrapper

    &__wrapper {

        // .match__wrapper_left

        &_left {
            padding-top: 205px;
            min-width: 315px;
            max-width: 315px;
        }

        // .match__wrapper_right

        &_right {
            max-width: 765px;
        }
    }

    // .match__titles

    &__titles {
        width: 100%;
    }

    // .match__titl-item

    &__titl-item {
        @extend %btn-text;
        color: $black;
        width: 100%;
        height: 50px;
        padding-left: 57px;
        @extend %df;
        @extend %aic;
        &.hover {
            background-color: $gray;
        }
    }

    // .match__titl-text

    &__titl-text {
        pointer-events: none;
    }

    // .match__slider

    &__slider {
        width: 100%;
    }

    // .match__slider-item

    &__slider-item {
        max-width: 230px;
    }

    // .match__slider-img

    &__slider-img {
        padding-left: 23px;
        width: 112px;
        height: 122px;
    }

    // .match__slider-img-title

    &__slider-img-title {
        padding-left: 17px;
        margin-top: 9px;
    }

    // .mach__slider-img-title-text

    &__slider-img-title-text {
        @extend %h2-title;
        color: $black;
    }

    // .match__slider-data

    &__slider-data {
        padding-top: 83px;
        width: 100%;
    }

    // .match__slider-data-item

    &__slider-data-item {
        @extend %text;
        color: $black;
        @extend %df;
        @extend %aic;
        width: 100%;
        height: 50px;
        padding-left: 40px;
        padding-right: 10px;
        &.hover {
            background-color: $gray;
        }
    }

    // .match__slider-data-text

    &__slider-data-text {
        pointer-events: none;
    }
    .swiper-scrollbar {
        position: absolute;
        top: 228px;
        left: 58px;
        width: 100%;
        height: 6px;
        background-color: $gray;
        z-index: 500;
        max-width: 1006px;
        overflow: hidden;
        .swiper-scrollbar-drag {
            @extend %db;
            background-color: $dark_gray;
            height: 100%;
        }
    }
}
// .m-cls {
// }
// .titl-itm {
// }
// .slider {
// }
// .swiper-container {
// }
// .slider-match {
// }
// .swiper-pagination {
// }
// .swiper-wrapper {
// }
// .swiper-slide {
// }
// .mach {

// 		}
// }
// .data-itm {
// }
