%simple-btn {
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %btn-text;
    width: 212px;
    height: 50px;
    // padding: 0 30px;
    color: $black;
    border: 1px solid $black;
    background-color: $white;
    &:hover {
        color: $cta;
    }
}
%simple-input {
    @extend %db;
    @extend %text;
    color: $black;
    width: 264px;
    height: 50px;
    border: 1px solid $dark_gray;
    padding-left: 31px;
}
%simple-textarea {
    @extend %db;
    @extend %text;
    color: $black;
    width: 555px;
    height: 111px;
    border: 1px solid $dark_gray;
    padding-left: 31px;
}
%home-page-btn {
    position: relative;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    text-align: center;
    @extend %light;
    @extend %fz-14;
    // @extend %ls-05;
    letter-spacing: .4em;
    text-transform: lowercase;
    // getCoords('.hps')
    span {
        @extend %dib;
        margin-right: -5px;
        line-height: 11px;
    }
    @extend %ease;
    color: #000;
    width: 97px;
    height: 25px;
    border: 1px solid #BFBFBF;
    &:after,
    &:before {
        position: absolute;
        content: '';
        @extend %db;
        width: 75px;
        height: 1px;
        left: 50%;
        margin-left: -37px;
        background-color: $white;
        @extend %ease;
    }
    &:after {
        top: -1px;
        margin-left: -35px;
    }
    &:before {
        bottom: -1px;
        margin-left: -40px;
    }
    &:hover {
        color: $cta;
        &:after,
        &:before {
            transform: scale(0);
        } 
    }
}