.catalog-header-sect {
    // position: relative;
    position: sticky;
    top: 0;
    @extend %bg-reset;
    height: 1500px;
    padding-top: 199px;
    transition: all .1s linear;
    background-color: $gray;
    transition: all .5s ease;
    background-size: contain;
    // z-index: -1;
    &.z {
        z-index: -1;
    }
    &.case-header {
        background-image: url($bg + "catalog-1-header-bg.jpg");
        background-size: 100% 100vh;
    }
    &.power-header {
        padding-top: 187px;
        background-image: url($bg + "catalog-2-header-bg.jpg");
    }
    &.memory-header {
        background-image: url($bg + "catalog-3-header-bg.jpg");
        .catalog-header {
            // &__text {
            //     margin-bottom: 131px;
            // }
            &__icons-item {
                margin-right: 42px;
            }
        }
    }
    &.ssd-header {
        background-image: url($bg + "catalog-4-header-bg.jpg");
    }
    &.chs {
        background-position-x: 194px;
    }
    &.hi {
        background-position-x: 0;
        .ssd-header {
            background-position-x: 80px;
        }
        .catalog-header {
            &__title,
            &__adv,
            &__text,
            &__icons {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}
.catalog-header {
    transition: all .3s linear;
    // .catalog-header__wrap
    
    &__wrap {
        
    }

    // .catalog-header__wrapper
    &__wrapper {
        padding-left: 57px;
    }

    // .catalog-header__title

    &__title {
        @extend %h1-title;
        @extend %ttu;
        color: $black;
        margin-bottom: 24px;
        opacity: 0;
        transition: all .5s ease .3s;
        transform: translateY(30px);
    }

    // // .catalog-header__adv

    // &__adv {
    //     @extend %df;
    //     margin-bottom: 66px;
    //     opacity: 0;
    //     transition: all .5s ease .4s;
    //     transform: translateY(30px);
    // }

    // // .catalog-header__adv-item

    // &__adv-item {
    //     @extend %h2-title;
    //     color: $black;
    //     margin-right: 37px;
    //     &:last-child {
    //         margin-right: 0;
    //     }
    // }

    // .catalog-header__text

    &__text {
        @extend %text;
        color: $black;
        max-width: 350px;
        margin-bottom: 60px;
        opacity: 0;
        transition: all .5s ease .5s;
        transform: translateY(30px);
    }

    // .catalog-header__icons

    &__icons {
        @extend %df;
        opacity: 0;
        transition: all .5s ease .6s;
        transform: translateY(30px);
    }

    // .catalog-header__icons-item

    &__icons-item {
        margin-right: 52px;
        &:last-child {
            margin-right: 0;
        }
    }

    // .catalog-header__icons-link

    &__icons-link {
        @extend %btn-text;
        @extend %df;
        align-items: flex-end;
        height: 33px;
        color: $black;
        i, span {
            pointer-events: none;
        }
        &:hover {
            span {
                color: $cta;
            }
        }
    }

    // .catalog-header__icons-ico

    &__icons-ico {
        @extend %dib;
        margin-right: 9px;
        .icon {
            width: inherit;
            height: inherit;
        }
        &_atx-case {
            width: 22px;
            height: 33px;
        }
        &_matx-case {
            width: 22px;
            height: 27px;
        }
        &_mitx-case {
            width: 38px;
            height: 32px;
        }
        &_atx-power {
            width: 26px;
            height: 26px;
        }
        &_tfx-power {
            width: 45px;
            height: 21px;
        }
        &_dimm-memory {
            width: 42px;
            height: 17.5px;
        }
        &_sodimm-memory {
            width: 22px;
            height: 17.5px;
        }
        &_dom-ssd {
            width: 28px;
            height: 19px;
        }
        &_sata-ssd {
            width: 29px;
            height: 20px;
        }
    }

    // .catalog-header__icons-text

    &__icons-text {
        @extend %ease;
    }
}