.prod-sect {
    // position: relative;
    // position: sticky;
    // top: 0;
    // z-index: 2;
    background-color: $white;
    padding-top: 122px;
    &.prod-memory {
        padding-top: 106px;
    }
}
.prod {

    // .prod__wrap-type

    &__wrap-type {
        padding-bottom: 131px;
        // .prod__wrap-type_atx

        &_atx {
        }

        // .prod__wrap-type_matx

        &_matx {
            padding-bottom: 126px;
        }

        // .prod__wrap-type_mitx

        &_mitx {
            padding-bottom: 107px;
        }

        // .prod__wrap-type_dimm

        &_dimm {
            padding-bottom: 140px;
            .prod {
                &__text {
                    margin-bottom: 35px;
                }
                &__wrap {
                    &_title {
                        margin-bottom: 42px;
                    }
                }
            }
        }

        // .prod__wrap-type_sodimm

        &_sodimm {
            .prod {
                &__text {
                    margin-bottom: 35px;
                }
                &__wrap {
                    &_title {
                        margin-bottom: 42px;
                    }
                }
            }
        }
    }

    // .prod__wrap

    &__wrap {

        // .prod__wrap_title

        &_title {
            @extend %df;
            @extend %jcsb;
            margin-bottom: 24px;
        }

        // .prod__wrap_cards

        &_cards {
            @extend %df;
            @extend %fw;
            // padding-left: 2px;
        }
        &_cards-prod-memory, &_cards-prod-ssd {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 19px;
            row-gap: 19px;
        }
    }

    // .prod__title

    &__title {
        @extend %df;
        align-items: flex-end;
        color: $black;
        margin-bottom: 23px;
    }

    // .prod__title-ico

    &__title-ico {
        margin-right: 13px;
        margin-top: 2px;
        .icon {
            width: inherit;
            height: inherit;
        }
        // .prod__title-ico_atx-case

        &_atx-case {
            width: 22px;
            height: 33px;
        }

        // .prod__title-ico_matx-case

        &_matx-case {
            width: 22px;
            height: 27px;
        }

        // .prod__title-ico_mitx-case

        &_mitx-case {
            width: 38px;
            height: 32px;
        }
        
        &_atx-power {
            width: 26px;
            height: 26px;
        }
        
        &_tfx-power {
            width: 45px;
            height: 21px;
        }

        // .prod__title-ico_dimm-memory

        &_dimm-memory {
            width: 37px;
            height: 17.5px;
        }
        
        // .prod__title-ico_sodimm-memory
        
        &_sodimm-memory {
            width: 22px;
            height: 17.5px;
        }
        &_dom-ssd {
            width: 28px;
            height: 19px;
        }
        &_sata-ssd {
            width: 29px;
            height: 20px;
        }
    }

    // .prod__title-text

    &__title-text {
        @extend %h1-title;
        color: $black;
        margin-bottom: -6px;
    }

    // .prod__text

    &__text {
        @extend %text;
        color: $black;
        // margin-bottom: -6px;
        padding-left: 2px;
    }
    
            // .prod__filters

    &__filters {
        @extend %df;
        &:last-child {
            margin-top: 24px;
        }
    }

    // .prod__filters-item

    &__filters-item {
        margin-right: 12px;
        &:last-child {
            margin-right: 0;
        }
    }

    // .prod__filters-btn

    &__filters-btn {
        @extend %db;
        @extend %btn-text;
        @extend %ease;
        color: $black;
        width: 60px;
        height: 29px;
        border: 1px solid $dark_gray;
        span {
            @extend %evnt-none;
        }
        &.active {
            border-color: $cta;
            color: $cta;
        }
        &:hover {
            border-color: $cta;
            color: $cta;
        }
        &:disabled {
            pointer-events: none;
            border-color: $dark_gray;
            color: $dark_gray;
        }
    }

    // .prod__btn-maches 
    &__btn-maches {
        @extend %simple-btn;
        width: 168px;
        opacity: 0;
        pointer-events: none;
        span {
            pointer-events: none;
        }
        &.active {
            opacity: 1;
            pointer-events: all;
        }
        &.fixed {
            position: fixed;
            top: 18px;
            right: 80px;
            z-index: 21;
        }
    }
    // .prod__card-simple

    &__card-simple {
        @extend %df;
        @extend %jcsb;
        flex-direction: column;
        position: relative;
        width: 251px;
        height: 206px;
        padding: 22px 0 15px 31px  ;
        background-color: $gray;
        cursor: pointer;
        .prod__card-title {
            text-align: left;
        }
        &.hide {
            display: none;
        }
        &:hover {
            .prod {
                &__card-img {
                    img {
                        transform: scale(.9);
                    }
                }
                &__card-title {
                    color: $cta;
                }
                &__hov-text {
                    opacity: 1;
                }
            }
        }
    }

    // .prod__card

    &__card {
        position: relative;
        width: 265px;
        height: 320px;
        margin-bottom: 34px;
        cursor: pointer;
        &:hover {
            .prod {
                &__card-img {
                    img {
                        transform: scale(.9);
                    }
                }
                &__card-title {
                    color: $cta;
                }
                &__hov-text {
                    opacity: 1;
                }
            }
        }
    }

    // .prod__hov

    &__hov {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }

    // .prod__hov-text

    &__hov-text {
        position: relative;
        margin-top: 8px;
        margin-right: 58px;
        cursor: pointer;
        @extend %ease;
        opacity: 0;
        span {
            @extend %dib;
            @extend %ease;
            @extend %text;
            padding: 5px 20px;
            background-color: $gray;
            opacity: 0;
        }
        &:before {
            content: '';
            position: absolute;
            top: 2px;
            right: -49px;
            width: 27px;
            height: 27px;
            background: transparent;
            border: 1px solid $black;
        }
        &:after {
            content: '';
            position: absolute;
            top: 9px;
            right: -42px;
            width: 13px;
            height: 13px;
            background-color: $cta;
            @extend %ease;
            opacity: 0;
        }
        
    }

    // .prod__check

    &__check {
        position: absolute;
        z-index: -1;
        opacity: 0;
        margin: 10px 0 0 20px;
        &:checked {
            & + .prod__hov-text {
                opacity: 1;
                &:before {
                }
                &:after {
                    opacity: 1;
                }
            }
        }
        &:hover {
            & + .prod__hov-text {
                span {
                    opacity: 1;
                }
            }
        }
    }

    // .prod__card-img

    &__card-img {
        width: 100%;
        overflow: hidden;
        @extend %df;
        @extend %jcc;
        @extend %aic;
        pointer-events: none;
        max-height: 286px;
        img {
            @extend %ease;
            transform: scale(1);
        }
    }

    // .prod__feature
    &__feature {
        // margin-bottom: 39px;
        pointer-events: none;
    }

    // .prod__feature-item

    &__feature-item {
        @extend %btn-text;
        @extend %df;
        @extend %aic;
        width: 103px;
        height: 34px;
        padding-left: 16px;
        margin-bottom: 2px;
        background-color: $white;
        border-radius: 2px;
        &:last-child {
            margin-bottom: 2px;
        }
    }

    // .prod__feature-text

    &__feature-text {
    }

    // .prod__card-title

    &__card-title {
        @extend %h2-title;
        @extend %ease;
        color: $black;
        text-align: center;
        margin-top: 8px;
        pointer-events: none;
    }
}
.prod__wrapper-btn {
    @extend %df;
    @extend %fdc;
    @extend %jcsb;
}
.prod {

		// .prod__range

		&__range {
            @extend %df;
            align-items: flex-end;
		}

		// .prod__range-btn

		&__range-btn {
            @extend %small-text;
            display: none;
            color: $black;
            margin-right: 30px;
            opacity: 0;
            pointer-events: none;
            span {
                pointer-events: none;
            }
            &.active {
                display: block;
                opacity: 1;
                pointer-events: all;
            }
		}

		// .prod__range-wrap

		&__range-wrap {
            @extend %df;
            @extend %aic;
		}

		// .prod__range-text

		&__range-text {
            @extend %btn-text;
            color: $black;
		}

		// .prod__range-input

		&__range-input {
            position: relative;
            @extend %df;
            @extend %aic;
            width: 251px;
            margin: 0 15px;
            .noUi-horizontal {
                width: 100%;
                height: 2px;
                background-color: $gray;
            }
            // input {
            //     -webkit-appearance: none;  /* Override default CSS styles */
            //     appearance: none;
            //     width: 100%; /* Full-width */
            //     height: 2px;  /* Specified height */
            //     background-color: $gray; /* Grey background */
            //     outline: none;/* Set transparency (for mouse-over effects on hover) */
            //     -webkit-transition: .2s; /* 0.2 seconds transition on hover */
            //     transition: opacity .2s;
            // &:hover {
            //     opacity: 1;
            // }
            // &::-webkit-slider-thumb {
            //     -webkit-appearance: none; /* Override default look */
            //     appearance: none;
            //     width: 12px; /* Set a specific slider handle width */
            //     height: 12px;
            //     border-radius: 50%;
            //     border: 1px solid $black; /* Slider handle height */
            //     background: $dark_gray; /* Green background */
            //     cursor: pointer; /* Cursor on hover */
            // }
            // &::-moz-range-thumb {
            //     width: 12px; /* Set a specific slider handle width */
            //     height: 12px;
            //     border-radius: 50%;
            //     border: 1px solid $black; /* Slider handle height */
            //     background: $dark_gray; /* Green background */
            //     cursor: pointer; /* Cursor on hover */
            // }
        // }
        // .prod__range-tooltip
	}
    &__range-tooltip {
        @extend %db;
        display: none;
        position: absolute;
        top: -10px;
        left: 0;
        padding: 0 10px;
        height: 10px;
        background-color: $dark_gray;
    }
}
.cls-btn {
}
@media (min-width: 1420px) {
    .prod {
        &__card {
            &-simple {
                width: 100%;
                height: 239px;
            }
        }
    }
}