.modal {
    position: fixed;
    top: 0;
    right: 0;
    background-color: $white;
    z-index: 100;
    width: 86%;
    height: 100vh;
    overflow-y: scroll;
    padding-left: 55px;
    padding-top: 20px;
    transform: translateX(100%);
    @extend %ease;
    &.open {
        transform: translateX(0);
    }
    // .modal__wrap
    &::-webkit-resizer {
        background-image: url(main.css);
        width: 4px;
        height: 0px;
        background-repeat: no-repeat;
    }
    &::-webkit-resizer:horizontal {
        background-image: url(main.css);
        width: 4px;
        height: 4px;
        background-repeat: no-repeat;
    }
    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    &::-webkit-scrollbar:horizontal {
        width: 4px;
        height: 4px;
    }
    ::-webkit-scrollbar-thumb:horizontal {
        height: 4px;
    }
    &::-webkit-scrollbar-button {
        background-image: url(main.css);
        width: 4px;
        height: 0px;
        background-repeat: no-repeat;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $dark_gray;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: rgb(255, 255, 255);
    }
    &__wrap {

        // .modal__wrap_top

        &_top {
            position: sticky;
            width: 100%;
            top: 0;
            z-index: 50;
            @extend %df;
            @extend %jcsb;
            padding-right: 17px;
        }

        // .modal__wrap_bot

        &_bot {
            @extend %df;
            // @extend %jcsb;
            padding-top: 47px;
            padding-left: 2px;
        }
    }

    // .modal__title-wrap

    &__title-wrap {
        @extend %df;
        @extend %aic;
        @extend %jcc;
    }

    // .modal__close

    &__close {
        position: relative;
        width: 27px;
        height: 27px;
        span {
            position: absolute;
            top: 13px;
            @extend %db;
            width: 27px;
            height: 1px;
            background-color: $black;
            @extend %ease;
            pointer-events: none;
            &:nth-child(1) {
                transform: rotate(-45deg);
            }
            &:nth-child(2) {
                transform: rotate(45deg);
            }
        }
        &:hover {
            transform: rotate(180deg);
            span {
                top: 11px;
            }
        }
    }

    // .modal__title

    &__title {
        @extend %h1-title;
        color: $black;
        margin-left: 20px;
    }

    // .modal__btns-print

    &__btns-print {
        @extend %df;
    }

    // .modal__pdf

    &__pdf {
        @extend %simple-btn;
        @extend %bold;
        @extend %ttu;
        // font-size: rem(14);
        width: 59px;
        font-weight: bolder;
        margin-right: 32px;
    }

    // .modal__print

    &__print {
        @extend %simple-btn;
        width: 50px;
        height: 50px;
        padding: 0;
        .icon {
            width: 24px;
            height: 24px;
            stroke-width: .1px;
            fill: $black;
            pointer-events: none;
        }
    }

    // .modal__wrap-img

    &__wrap-img {
        position: absolute;
        top: 50px;
        // position: sticky;
        // width: 100%;
        // top: 0;
        width: 400px;
        &.fixed {
            // top: 0px;
        }
    }

    // .modal__img-view

    &__img-view {
        max-width: 400px;
        overflow: hidden;
        width: inherit;
        display: none; 
        &.active {
            display: block;
        }
    }

    // .modal__inform

    &__inform {
        width: 100%;
        max-width: 582px;
        align-items: flex-end;
        margin-left: 440px;
    }

    // .modal__wrap-img-preview

    &__wrap-img-preview {
        @extend %df;
        @extend %fw;
        padding: 0 0 0 34px;
        // max-width: ;
    }

    // .modal__img-btn

    &__img-btn {
        width: 120px;
        height: 178px;
        overflow: hidden;
        @extend %ease;
        margin-right: 20px;
        margin-bottom: 20px;
        &:last-child {
            margin-right: 0;
        }
        // &:first-child {
        //     width: 70px;
        // }
        figure {
            width: inherit;
            height: inherit;
            pointer-events: none;
            img {
                pointer-events: none;
            }
        }
        &:hover {
            transform: scale(1.1);
        }
    }

    // .modal__wrap-icons

    &__wrap-icons {
        @extend %df;
        @extend %fw;
        padding-top: 100px;
        padding-left: 36px;
    }

    // .modal__ico-item

    &__ico-item {
        @extend %df;
        @extend %aic;
        margin-right: 60px;
        margin-bottom: 20px; 
        &:last-child {
            margin-right: 0;
        }
    }

    // .modal__icon

    &__icon {
        margin-right: 15px;
        .icon {
            width: inherit;
            height: inherit;
        }
        &_power-product {
            width: 18px;
            height: 28px;
        }
        &_voltage-product {
            width: 17px;
            height: 17px;
            .icon {
                fill: $black;
                stroke-width: .1px;
            }
        }
        &_sata-product {
            width: 27px;
            height: 18px;
        }
    }

    // .modal__ico-text

    &__ico-text {
        @extend %h2-title;
        color: $black;
        em {
            @extend %dib;
            @extend %h2-title;
            font-weight: normal;
            font-style: normal;
            color: $black;
            margin-left: 4px;
        }
    }

    // .modal__wrap-technical

    &__wrap-technical {
        padding-top: 99px;
    }

    // .modal__tech-title

    &__tech-title {
        @extend %h2-title;
        color: $black;
        padding-left: 27px;
    }

    // .modal__tech-info

    &__tech-info {
        padding-top: 41px;
        padding-right: 18px;
        padding-bottom: 50px;
    }

    // .modal__tech-item

    &__tech-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 100px;
        padding: 10px 0px 10px 26px;
        min-height: 25px;
        &:hover {
            background-color: $gray;
        }
        // .modal__tech-item_title

        &_title {
            
        }
    }

    // .modal__tech-text

    &__tech-text {

        // .modal__tech-text_left

        &_left {
            @extend %btn-text;
            line-height: 1.4375rem;
            color: $black;
        }

        // .modal__tech-text_right

        &_right {
            @extend %text;
            color: $black;
        }
    }
}
.icon {
}
.icon-print {
}
.black {
}
.icon-power-product {
}
.balack {
}
.icon-voltage-product {
}
.icon-sata-product {
}
