include mainBlock/_doc
body
    include mainBlock/_nav-inside
    // Sitebar 
    +sitebarInside(4)
    // End Sitebar

    .preloader.prel
        .preloader__logo
            img(src=`${imgPath}logo.svg`, alt="Preloader logo")
            .preloader__over

    // Page Header
    - const header = aboutPAge.header;
    header.header-ab
        .container.pl-inset
            .header-about
                .header-about__wrap.header-about__wrap_left
                    h1.header-about__title= header.title
                    - const adv = header.advantage;
                    ul.header-about__adv
                        - for(let i = 0; i < adv.length; i++)
                            li.header-about__adv-item
                                .header-about__adv-num(data-num=`${parseInt(adv[i][0].replace(/\s+/g,''))}`)
                                    span= adv[i][0]
                                .header-about__adv-text
                                    span= adv[i][1]
                figure.header-about__wrap.header-about__wrap_right
                    img(src=`${header.img}`, alt="Image")
    // END of Page Header 
    // Content Section 
    - const cont = aboutPAge.textContent;
    section.about-cont-sect
        .container.pl-inset
            .about-cont
                - for(let i = 0; i < cont.length; i++)
                    div(class=`about-cont__wrap about-cont__wrap_${(i == 0) ? 'left' : 'right'}`)
                        h2.about-cont__title= cont[i][0]
                        p.about-cont__text= cont[i][1]
    // END of Content Section 
    

    // Contact form 
    section.about-contact-sect
        .container.pl-inset
            .about-contact
                h2.about-contact__title= form.title
                - const input = form.inputs;
                form.form(action="#")
                    .form__wrap.form__wrap_top
                        input(type="text" class=`form__input` name=`name` placeholder=`${input.name}`)
                        input(type="text" class=`form__input` name=`company` placeholder=`${input.company}`)
                    .form__wrap.form__wrap_middle
                        input(type="email" class=`form__input` name=`email` placeholder=`${input.email}`)
                        input(type="tel" class=`form__input` name=`phone` placeholder=`${input.phone}`)
                    .form__wrap.form__wrap_bot
                        textarea(name="message" class=`form__message`)
                    button.form__btn.send
                        span= form.btn
    // END of Contact form 

    include mainBlock/_footer

    // Modal Form 
    +ModalForm(form)
    // END Modal Form  
    
    include mainBlock/_scripts


                                
                                

