include mainBlock/_doc
body
    include mainBlock/_nav-inside
    // Sitebar 
    +sitebarInside(2)
    // End Sitebar 
    
    .preloader.prel
        .preloader__logo
            img(src=`${imgPath}logo.svg`, alt="Preloader logo")
            .preloader__over

    - const header = catalogMemory.header;
    // Catalog Memory Header
    +catalogHeader(header, 'memory-header')
    // END of Catalog Memory Header


    // Products sections
    - const products = catalogMemory.products;
    +catalogProductSimple(products, 'prod-memory')
    // END of Products sections

    include mainBlock/_footer
    - const modal = modalCase;
    +ModalCase(modal, prodMemory)

    // Modal Form 
    +ModalForm(form)
    // END Modal Form 

    // Match Modal 
    +MatchModal(match)
    // END Match Modal 
    include mainBlock/_scripts
                    