include mainBlock/_doc
body
    include mainBlock/_nav-inside
    // Sitebar 
    +sitebarInside(1)
    // End Sitebar 

    .preloader.prel
        .preloader__logo
            img(src=`${imgPath}logo.svg`, alt="Preloader logo")
            .preloader__over

    - const header = catalogPower.header;
    // Catalog Power Header
    +catalogHeader(header, 'power-header')
    // END of Catalog Power Header


    // Products sections
    - const products = catalogPower.products;
    +catalogProductPhoto(products)
    // END of Products sections

    include mainBlock/_footer
    - const modal = modalCase;
    +ModalCase(modal, prodPower, true)

    // Modal Form 
    +ModalForm(form)
    // END Modal Form 

    // Match Modal 
    +MatchModal(match)
    // END Match Modal 
    include mainBlock/_scripts
                    