include mainBlock/_doc
body
    include mainBlock/_nav-inside
    // Sitebar 
    +sitebarInside(0)
    // End Sitebar 
    .preloader.prel
        .preloader__logo
            img(src=`${imgPath}logo.svg`, alt="Preloader logo")
            .preloader__over
    
    - const header = catalogCase.header;
    // Catalog Cases Header
    +catalogHeader(header, 'case-header')


    // Products sections
    - const products = catalogCase.products;
    +catalogProductPhoto(products)

    include mainBlock/_footer
    
    // Modal Product
    - const modal = modalCase;
    +ModalCase(modal, prodCase)
    // END Modal Product

    // Modal Form 
    +ModalForm(form)
    // END Modal Form 

    // Match Modal 
    +MatchModal(match)
    // END Match Modal 
                 
    
    include mainBlock/_scripts
                    