include mainBlock/_doc
body
    include mainBlock/_nav-inside
    // Sitebar 
    +sitebarInside(3)
    // End Sitebar 

    .preloader.prel
        .preloader__logo
            img(src=`${imgPath}logo.svg`, alt="Preloader logo")
            .preloader__over

    - const header = catalogSsd.header;
    // Catalog Memory Header
    +catalogHeader(header, 'ssd-header')
    // END of Catalog Memory Header 


    // Products sections
    - const products = catalogSsd.products;
    +catalogProductSimple(products, 'prod-ssd')
    // END of Products sections

    include mainBlock/_footer
    - const modal = modalCase;
    +ModalCase(modal, prodSsd)

    // Modal Form 
    +ModalForm(form)
    // END Modal Form 

    // Match Modal 
    +MatchModal(match)
    // END Match Modal 
    include mainBlock/_scripts
                    