include mainBlock/_doc
body
    include mainBlock/_nav-inside
    // Sitebar 
    +sitebarInside(4)
    // End Sitebar

    .preloader.prel
        .preloader__logo
            img(src=`${imgPath}logo.svg`, alt="Preloader logo")
            .preloader__over

    - const dis = distributor;
    header.header-distr-sect
        .container.pl-inset
            .header-distr
                .header-distr__wrap
                    figure.header-distr__wrap-img
                        img(src=`${imgPath}logos/logo-ocs.png`, alt="Logotype Company")
                    h1.header-distr__title= dis.title
                    p.header-distr__text= dis.text
    - const disItm = dis.items;
    section.distr-sect
        .container.pl-inset
            .distr
                .distr__wrap.distr__wrap_top
                    .distr__main
                        figure.distr__wrap-logo
                            img(src=`${dis.mainContact[0]}`, alt="Logotype")
                        ul.distr__item-contact
                            li.distr__item-contacts
                                a(href=`${dis.mainContact[1]}`).distr__item-contact-link
                                    i.distr__item-icon.distr__item-icon_mail
                                        +icon('mail', 'black')
                                    span= dis.mainContact[1].split(':')[1]
                                li.distr__item-contacts
                                    a(href=`${dis.mainContact[2]}`).distr__item-contact-link
                                        i.distr__item-icon.distr__item-icon_phone
                                            +icon('phone', 'black')
                                        span= dis.mainContact[2].split(':')[1]
                .distr__wrap.distr__wrap_bot
                    h2.distr__title-where= dis.itemsTitle
                    ul.distr__wrapper
                        - for(let itm of disItm)
                            li.distr__dis-item
                                figure.distr__dis-img
                                    img(src=`${itm[0]}`, alt="Logotype")
                                a(href=`${itm[1]}`).distr__item-contact-link
                                    i.distr__item-icon.distr__item-icon_phone
                                        +icon('phone', 'black')
                                    span= itm[1].split(':')[1]
                //- ul.distr__wrap.distr__wrap_left
                //-     - for(let i = 0; i < disItm.length; i++)
                //-         - if(i == 0)
                //-             li(class=`distr__item distr__item_${i}`)
                //-                 figure.distr__item-img
                //-                     img(src=`${disItm[i][0]}`, alt="Logotype Distributor")
                //-                 ul.distr__item-contact
                //-                     li.distr__item-contacts
                //-                         a(href=`${disItm[i][1][0]}`).distr__item-contact-link
                //-                             i.distr__item-icon.distr__item-icon_mail
                //-                                 +icon('mail', 'black')
                //-                             span= disItm[i][1][0].split(':')[1]
                //-                     - if(disItm[i][1][1])
                //-                         li.distr__item-contacts
                //-                             a(href=`${disItm[i][1][1]}`).distr__item-contact-link
                //-                                 i.distr__item-icon.distr__item-icon_phone
                //-                                     +icon('phone', 'black')
                //-                                 span= disItm[i][1][1].split(':')[1]
                //-                 button.distr__item-btn.contact Свяжитесь со мной 

                //- ul.distr__wrap.distr__wrap_right
                //-     - for(let i = 1; i < disItm.length; i++)
                //-         li(class=`distr__item distr__item_${i}`)
                //-             figure.distr__item-img
                //-                 img(src=`${disItm[i][0]}`, alt="Logotype Distributor")
                //-             ul.distr__item-contact
                //-                 li.distr__item-contacts
                //-                     a(href=`${disItm[i][1][0]}`).distr__item-contact-link
                //-                         i.distr__item-icon.distr__item-icon_phone
                //-                             +icon('phone', 'black')
                //-                         span= disItm[i][1][0].split(':')[1]

    include mainBlock/_footer

    // Modal Form 
    +ModalForm(form)
    // END Modal Form  

    include mainBlock/_scripts