include mainBlock/_doc
body(data-option="two")
    include mainBlock/_navigation
    include mainBlock/_sitebar-home

    .preloader.prel
        .preloader__logo
            img(src=`${imgPath}logo.svg`, alt="Preloader logo")
            .preloader__over
    main.main-wrap
        // Header Section
        - const header = homePage.case;
        header.home-header.hhp.cld.visible(data-sect=`${sitebar[0]}` name="case")
            img(src=`${imgPath}bg-mob/case.png`, alt="" class=`mob-img mob-img__case`)
            .bg
            .container
                .header
                    .header__wrap.hw
                        h1.header__title= header.title
                        p.header__text= header.text
                        //- ul.header__adv
                        //-     - for(let adv of header.adv)
                        //-         li.header__adv-item
                        //-             span.header__adv-text= adv
                        a(href="catalog-case.html").header__btn
                            span= header.btn
        // End of Header Section
        // Power Section
        - const power = homePage.power;
        +section('home-power-sect hps cld', true, `${sitebar[1]}`, 'power', 'bg-mob/power.png')
            .home-power
                .home-power__wrap.hpw
                    h2.home-power__title= power.title
                    p.home-power__text= power.text
                    //- ul.home-power__adv
                    //-     - for(let adv of power.adv)
                    //-         li.home-power__adv-item
                    //-             span.home-power__adv-text= adv
                    a(href="catalog-power.html").home-power__btn
                        span= power.btn
        // End of Power Section
        // Memory Section
        - const memory = homePage.memory;
        +section('home-memory-sect hms cld', true, `${sitebar[2]}`, 'memory', 'bg-mob/memory.png')
            .home-memory
                .home-memory__wrap.hmw
                    h2.home-memory__title= memory.title
                    p.home-memory__text
                        = memory.text.split('<br>')[0]
                        br
                        = memory.text.split('<br>')[1]
                    //- ul.home-memory__adv
                    //-     - for(let adv of memory.adv)
                    //-         li.home-memory__adv-item
                    //-             span.home-memory__adv-text= adv
                    a(href="catalog-memory.html").home-memory__btn
                        span= memory.btn
        // End of Memory Section
        // SSD Section
        - const ssd = homePage.ssd;
        +section('home-ssd-sect hss cld', true, `${sitebar[3]}`, 'ssd', 'bg-mob/ssd.png')
            .home-ssd
                .home-ssd__wrap.hsw
                    h2.home-ssd__title= ssd.title
                    p.home-ssd__text= ssd.text
                    //- ul.home-ssd__adv
                    //-     - for(let adv of ssd.adv)
                    //-         li.home-ssd__adv-item
                    //-             span.home-ssd__adv-text= adv
                    a(href="catalog-ssd.html").home-ssd__btn
                        span= ssd.btn
        // End of SSD Section

    
    include mainBlock/_footer

    // Modal Form 
    +ModalForm(form)
    // END Modal Form  

    include mainBlock/_scripts