mixin section($class, $bg, $stbMark, $name, $img)
    - $bg = $bg || false;
    - $stbMark = $stbMark || false
    - $id = $name || false
    section(class=`${$class}` name=`${$name ? $name : ''}` data-sect=`${($stbMark) ? `${$stbMark}` : ''}`) 
        - if ($img)
            img(src=`${imgPath}${$img}`, alt="" class=`mob-img mob-img__${$name}`)
        - if($bg)
            .bg
        .container
            if block
                block
            else
                p No content providet



mixin icon(name,mod)
    - mod = mod || '';
    svg(class="icon icon-" + name + ' ' + mod)
        use(xlink:href="img/sprinte/sprite.svg#" + name)



mixin catalogHeader($header, $modificator)
    header(class=`catalog-header-sect chs ${$modificator ? $modificator : ''}`)
        .bg
        .container.pl-inset
            .catalog-header.chh
                .catalog-header__wrap
                    h1.catalog-header__title= $header.title
                    //- ul.catalog-header__adv
                    //-     - for(let adv of $header.adv)
                    //-         li.catalog-header__adv-item
                    //-             span= adv
                    .catalog-header__wrapper
                        p.catalog-header__text= $header.text
                        ul.catalog-header__icons
                            - for(let ico of $header.icons)
                                li.catalog-header__icons-item
                                    a(href=`#${ico[0]}`).catalog-header__icons-link.ink-go
                                        i(class=`catalog-header__icons-ico catalog-header__icons-ico_${ico[0]}`)
                                            +icon(ico[0], 'black')
                                        span.catalog-header__icons-text= ico[1]



mixin catalogProductPhoto($product, $modificator)
    section(class=`prod-sect cps ${$modificator ? $modificator : ''}` data-action="method-for-this-post-types")
        .container.pl-inset
            .prod
                - for(let k in $product)
                    div(class=`prod__wrap-type prod__wrap-type_${$product[k].title.toLowerCase()}`)
                        .prod__wrap.prod__wrap_title(name=`${$product[k].icon}`)
                            .prod__wrapper-title
                                h2.prod__title
                                    i(class=`prod__title-ico prod__title-ico_${$product[k].icon}`)
                                        +icon($product[k].icon, 'black')
                                    span.prod__title-text= $product[k].title
                                p.prod__text= $product[k].text
                            .prod__wrapper-btn
                                button.prod__btn-maches.bt-mach
                                    span Сравнить
                        .prod__wrap.prod__wrap_cards
                            - const itm = $product[k].items;
                            - for(let i = 0; i < itm.length; i++)
                                .prod__card.prd-card.pr-c
                                    label.prod__hov
                                        input(type="checkbox" name="check" data-id=`${Math.random(i)}` data-type=`${k}`).prod__check.inp-ch
                                        .prod__hov-text
                                            span= itm[i][0]
                                    figure.prod__card-img
                                        img(src=`${$product[k].imgpath}${i}.jpg`, alt=`Proguct name ${itm[i][1]}`)
                                    h3.prod__card-title= itm[i][1]



mixin catalogProductSimple($product, $modificator)
    section(class=`prod-sect cps ${$modificator ? $modificator : ''}` data-actionProduct="method-for-ajax-get-product" data-action="method-for-this-post-types")
        .container.pl-inset
            .prod
                - for(let k in $product)
                    div(class=`prod__wrap-type prod__wrap-type_${$product[k].title.toLowerCase()}`)
                        .prod__wrap.prod__wrap_title(name=`${$product[k].icon}`)
                            .prod__wrapper-title
                                h2.prod__title
                                    i(class=`prod__title-ico prod__title-ico_${$product[k].icon}`)
                                        +icon($product[k].icon, 'black')
                                    span.prod__title-text= $product[k].title
                                p.prod__text= $product[k].text
                                - const filterDdr = $product[k].filtersDdr;
                                - const filterGb = $product[k].filtersGb;
                                - const filterSata = $product[k].filtersSata;
                                - if(filterDdr)
                                    ul.prod__filters
                                        - for(let i = 0; i < filterDdr.length; i++)
                                            li.prod__filters-item
                                                    button.prod__filters-btn.flt-btn.flt-ddr(data-sect-name=`${k}` data-gb=`null` data-ddr=`${filterDdr[i][1]}`)
                                                        span= filterDdr[i][1]
                                - if(filterGb)
                                    ul.prod__filters
                                        - for(let i = 0; i < filterGb.length; i++)
                                            li.prod__filters-item
                                                    button(class=`prod__filters-btn flt-btn flt-gb` data-sect-name=`${k}` data-ddr=`null` data-gb=`${parseInt(filterGb[i][1])}`)
                                                        span= filterGb[i][1]
                                - if(filterSata)
                                    ul.prod__filters
                                        - for(let i = 0; i < filterSata.length; i++)
                                            li.prod__filters-item
                                                - if (filterSata[i][0] == 'not')
                                                    button(disabled).prod__filters-btn.sata-btn(data-x=`${filterSata[i][1]}`)
                                                        span= filterSata[i][1]
                                                - else
                                                    button.prod__filters-btn.sata-btn(data-x=`${filterSata[i][1]}`)
                                                        span= filterSata[i][1]
                            .prod__wrapper-btn
                                button.prod__btn-maches.bt-mach
                                    span Сравнить
                                - const range = $product[k].range;
                                - if(range)
                                    .prod__range
                                        button.prod__range-btn.cls-btn
                                            span Сбросить фильтр
                                        .prod__range-wrap
                                            .prod__range-text
                                                span= range[0]
                                            .prod__range-input
                                                span.prod__range-tooltip.tltp
                                                .inp-range
                                                //- input(type="range", name="range", min=`30` max=`1024` value=`30`)
                                            .prod__range-text
                                                span= range[1]
                        div(class=`prod__wrap prod__wrap_cards ${$modificator ? `prod__wrap_cards-${$modificator}` : ''}`)
                            - const itm = $product[k].items;
                            - for(let i = 0; i < itm.length; i++)
                                div(class=`prod__card-simple prd-card pr-c` data-sect-name=`${k}` data-gb=`${parseInt(itm[i][0][0])}` data-ddr=`${itm[i][0][1] ? itm[i][0][1] : 'null'}`)
                                    label.prod__hov
                                        input(type="checkbox" name="check" data-id=`${Math.random(i)}` data-type=`${k}`).prod__check.inp-ch
                                        .prod__hov-text
                                            span Сравнить
                                    ul.prod__feature
                                        - for(let x = 0; x < itm[i][1].length; x++)
                                            li.prod__feature-item
                                                span.prod__feature-text= itm[i][1][x]
                                    h3.prod__card-title= itm[i][2]


mixin sitebarInside($activeNum)
    .sitebar.stb
        ul.sitebar__wrap
            - for(let i = 0; i < sitebar.length; i++)
                li.sitebar__item
                    a(href=`${mainText.sitebarLinkInset[i]}` class=`sitebar__link ${(i == $activeNum) ? 'active' : ''}`)
                        span= sitebar[i]



mixin ModalCase(modal, $pathImg, $power) 
    .modal.mod-wrap
        .modal__wrap.modal__wrap_top
            .modal__title-wrap
                button.modal__close.m-cls
                    span
                    span
                h2.modal__title= modal.title
            .modal__btns-print
                a(href="#" download).modal__pdf
                    span= modal.pdf
                button.modal__print.w-pr
                    +icon('print', 'black')
        .modal__wrap.modal__wrap_bot
            .modal__wrap-img.wimg-prod
                - for(let i = 0; i < modal.img; i++)
                    figure(class=`modal__img-view img-vw ${(i == 0) ? 'active' : ''}` data-id=`${i}`)
                        img(src=`${$pathImg}0.jpg`, alt="Image View")
            .modal__inform
                .modal__wrap-img-preview
                    - for(let i = 0; i < modal.img; i++)
                        button(class=`modal__img-btn img-prvw ${(i == 0) ? 'active' : ''}` data-id=`${i}`)
                            figure
                                img(src=`${$pathImg}0.jpg`, alt="Image Preview")
                - const icons = modal.icons;
                ul.modal__wrap-icons
                    - for(let i = 0; i < icons.length; i++)
                        li.modal__ico-item
                            - if ($power)
                                .modal__ico-power
                                    img(src=`img/power-image/4pin370.svg`, alt="Pins")
                                - break;
                            - else
                                div(class=`modal__icon modal__icon_${icons[i][0]}`)
                                    +icon(icons[i][0], 'balack')
                                .modal__ico-text
                                    - if(parseInt(icons[i][1]))
                                        = parseInt(icons[i][1])
                                        em
                                            = icons[i][1].replace(/[^a-z]/g, '')
                                    - else
                                        = icons[i][1]
                - const tech = modal.technical;
                - const table = tech.table;
                .modal__wrap-technical
                    h3.modal__tech-title= tech.title
                    ul.modal__tech-info
                        - for(let i = 0; i < table.length; i++)
                            li(class=`modal__tech-item ${(i == 0) ? 'modal__tech-item_title' : ''}`)
                                .modal__tech-text.modal__tech-text_left= table[i][0]
                                .modal__tech-text.modal__tech-text_right= table[i][1]


mixin MatchModal($match)
    - const titles = $match.tableTitle;
    - const item = $match.items;
    .match
        .match__wrap.match__wrap_top
            .match__wrap-title
                button.match__close.m-cls(data-match="1")
                    span
                    span
                h2.match__title= $match.title
        .match__wrap.match__wrap_bot
            .swiper-scrollbar
            .match__wrapper.match__wrapper_left
                ul.match__titles.hov-titl
                    - for(let i = 0; i < titles.length; i++)
                        li.match__titl-item.titl-itm(data-id=`${i}`)
                            span.match__titl-text= titles[i]
            .match__wrapper.match__wrapper_right
                .slider.match__slider
                    .swiper-container.slider-match
                        .swiper-wrapper
                            - for(let i = 0; i < item.length; i++)
                                .swiper-slide.match__slider-item.itm-sl
                                    figure.match__slider-img
                                        img(src=`${prodCompar}${i}.jpg`, alt="product image")
                                        figcaption.match__slider-img-title
                                            h3.match__slider-img-title-text= item[i][0]
                                    ul.match__slider-data.hov-data
                                        - for(let x = 1; x < item[i].length; x++)
                                            - var idx = x;
                                            li.match__slider-data-item.data-itm(data-id=`${--idx}`)
                                                span.match__slider-data-text= item[i][x]

mixin ModalForm($form)
    .modal-form
        .modal-form__wrap.modal-form__wrap_top
            button.modal-form__close.m-cls(data-cont="1")
                span
                span
            h2.modal-form__title= $form.title
        - const input = $form.inputs;
        .modal-form__wrap.modal-form__wrap_bot.mod-form
            form.form(action="#")
                .form__wrap.form__wrap_top
                    input(type="text" class=`form__input` name=`name` placeholder=`${input.name}`)
                    input(type="text" class=`form__input` name=`company` placeholder=`${input.company}`)
                .form__wrap.form__wrap_middle
                    input(type="email" class=`form__input` name=`email` placeholder=`${input.email}`)
                    input(type="tel" class=`form__input` name=`phone` placeholder=`${input.phone}`)
                .form__wrap.form__wrap_bot
                    textarea(name="message" class=`form__message`)
                button.form__btn.submit
                    span= $form.btn
            - const tnks = $form.thanks;
            .modal-form__tanks.mod-form-tnk
                fieldset.modal-form__tnks-wrap
                    h3.modal-form__tnks-title= tnks.title
                    p.modal-form__tnks-text= tnks.text