.header-distr-sect {
    @extend %bg-reset;
    padding-top: 169px;
    height: 115vh;
    background-image: url($bg + "header-map.jpg");
}
.container {
}
.pl-inset {
}
.header-distr {

		// .header-distr__wrap

		&__wrap {
            max-width: 468px;
		}

		// .header-distr__wrap-img

		&__wrap-img {
            width: 135px;
            margin-bottom: 19px;
		}

		// .header-distr__title

		&__title {
            @extend %h2-title;
            margin-bottom: 48px;
		}

		// .header-distr__text

		&__text {
			@extend %text;
			padding-left: 57px;
		}
}

