.distr-sect {
    margin-top: -182px;
    padding-bottom: 88px;
    .pl-inset {
        padding-left: 209px;
        padding-right: 0;
    }
    .container {
        margin-right: 0;
    }
}


.distr {

    // .distr__wrap

    &__wrap {

        // .distr__wrap_top

        &_top {
        }

        // .distr__wrap_bot

        &_bot {
            @extend %df;
            justify-content: flex-start;
            
        }
    }

    // .distr__main

    &__main {
        width: 100%;
        height: 182px;
        padding-top: 46px;
        padding-left: 50px;
        background-color: $white;
    }

    // .distr__wrap-logo

    &__wrap-logo {
        margin-bottom: 50px;
    }

    // .distr__item-contact

    &__item-contact {
        @extend %df;
    }

    // .distr__item-contacts

    &__item-contacts {
        margin-right: 36px;
        &:last-child {
            margin-right: 0;
        }
    }

    // .distr__item-contact-link

    &__item-contact-link {
        @extend %btn-text;
        color: $black;
        &:hover {
            color: $cta;
        }
    }

    // .distr__item-icon
    
    &__item-icon {
        margin-right: 14px;
        .icon {
            width: inherit;
            height: inherit;
        }
        // .distr__item-icon_phone
        &_phone {
            width: 10px;
            height: 16px;
        }
        // .distr__item-icon_mail
        &_mail {
            width: 21px;
            height: 15px;
        }
    }

    // .distr__title-where

    &__title-where {
        @extend %btn-text;
        @extend %ttu;
        margin-left: 51px;
        margin-top: 64px;
        margin-right: 64px;
    }

    // .distr__wrapper

    &__wrapper {
        @extend %df;
        @extend %fw;
        max-width: 744px;
        margin-top: 18px;
    }

    // .distr__dis-item

    &__dis-item {
        width: 246px;
        height: 182px;
        @extend %df;
        @extend %fdc;
        padding-top: 35px;
        padding-left: 50px;
        &:nth-child(4) {
            padding-top: 58px;
        }
        &:nth-child(2) {
            .distr__dis-img {
                margin-bottom: 65px;
            }
        }
        &:nth-child(3) {
            .distr__dis-img {
                margin-bottom: 42px;
            }
        }
        &:nth-child(4) {
            .distr__dis-img {
                margin-bottom: 64px;
            }
        }
    }

    // .distr__dis-img

    &__dis-img {
        margin-bottom: 50px;
        
    }
}
@media (min-width: 1420px) {
    .distr__item_0 {
        width: 100%;
    }
    .distr__item_1,
    .distr__item_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100% / 2.2);
    }
    .distr__item_1 {
        margin-left: 7px;
    }
    .distr__item_2 {
        margin-right: 7px;
    }
}