-
    const mainVar = {
        path: {
            css: 'css/',
            js: 'js/',
            img: 'img/'
        }
    };

- const imgPath = `${mainVar.path.img}`;

//- Case images
- const catalogCaseImg = `${imgPath}catalog/case/`;
- const catalCaseImgATX = `${catalogCaseImg}atx/`;
- const catalCaseImgMATX = `${catalogCaseImg}matx/`;
- const catalCaseImgMITX = `${catalogCaseImg}mitx/`;

//- Power images
- const catalogPowerImg = `${imgPath}catalog/power/`;
- const catalPowerImgATX = `${catalogPowerImg}atx/`;
- const catalPowerImgMATX = `${catalogPowerImg}tfx/`;

//- Proguct images
- const proguctsPath = `${imgPath}product/`;
//- ==> Case 
- const prodCase = `${proguctsPath}case/`;
//- ==> Power
- const prodPower = `${proguctsPath}power/`;
//- ==> Memory
- const prodMemory = `${proguctsPath}memory/`;
//- ==> SSD
- const prodSsd = `${proguctsPath}ssd/`;
//- ==> Comparison
- const prodCompar = `${proguctsPath}comparison/`;

//- Logos images
- const logosImg = `${imgPath}logos/`;

-
    const mainText = {
        title: 'Fox Line',
        menu: ['Каталог продукции', 'Где купить', 'О компании', 'Обратная связь'],
        sitebar: ['Корпуса', 'Блоки питания', 'Модули памяти', 'SSD'],
        sitebarHomeLink: ['#wrapper', '#power', '#memory', '#ssd'],
        menuLink: ['index.html', 'distributors.html', 'about.html', '#'],
        sitebarLinkInset: ['catalog-case.html', 'catalog-power.html', 'catalog-memory.html', 'catalog-ssd.html'],
        menuInset: ['Корпуса', 'Блоки питания', 'Модули памяти', 'SSD накопители'],
        menuInsetLinks: ['catalog-case.html', 'catalog-power.html', 'catalog-memory.html', 'catalog-ssd.html'],
        homePage: {
            case: {
                title: 'Корпуса',
                text: 'Современный дизайн, широкий модельный ряд и уникальное техническое решение с учетом требований к охдаждению и компановке элементов компьютера.',
                adv: [
                    'Стиль',
                    'Надежность',
                    'Прочность'
                ],
                btn: 'Каталог',
            },
            power: {
                title: 'Блоки питания',
                text: 'Высокая стабильность работы, щтличное охлаждение, низкий уровень шума и очень привлекательная цена. Блок питания - это компонент ПК, без которого его работа невозможна.',
                adv: [
                    'Отказоустойчивость',
                    'Энергоэффективность',
                ],
                btn: 'Каталог',
            },
            memory: {
                title: 'Модули памяти',
                text: 'С модулями памяти FOXLINE аша система получит все необходимые ресурсы для повышения скорости работы.<br>Модули памяти FOXLINE прошли 100% тестирования на рабочей чистоте.',
                adv: [
                    'Скорость',
                    'Многозадачность',
                ],
                btn: 'Каталог',
            },
            ssd: {
                title: 'SSD',
                text: 'Твердотелые накопители FOXLINE могут похвастаться передовыми технологиями для максимальной скорости и надежности, даже при интенсивных нагрузках. Ваш ПК будет работать быстрее, игры и приложения будут загружаться мгновенно.',
                adv: [
                    'Стабильность',
                    'Функциональность',
                ],
                btn: 'Каталог',
            },
        },
        catalog: {
            case: {
                header: {
                    title: 'Корпуса',
                    adv: [
                        'Стиль',
                        'Надежность',
                        'Прочность',
                    ],
                    text: 'Компьютерный корпус служит защитной внешней оболочкой и одновременно каркасом, к которому крепятся все остальные компоненты компьютера.',
                    icons: [
                        [
                            'atx-case',
                            'ATX',
                        ],
                        [
                            'matx-case',
                            'mATX',
                        ],
                        [
                            'mitx-case',
                            'mITX',
                        ],
                    ],
                },
                products: {
                    atx: {
                        imgpath: catalCaseImgATX,
                        icon: 'atx-case',
                        title: 'ATX',
                        text: 'ATX корпуса, самая распрастраненная модель.',
                        items: [
                            [
                                'Сравнить',
                                'FL-103',
                            ],
                            [
                                'Сравнить',
                                'FL-501',
                            ],
                            [
                                'Сравнить',
                                'FL-311',
                            ],
                            [
                                'Сравнить',
                                'FL-311',
                            ],
                            [
                                'Сравнить',
                                'FL-311',
                            ],
                            [
                                'Сравнить',
                                'FL-420',
                            ],
                            [
                                'Сравнить',
                                'FL-540',
                            ],
                        ],
                    },
                    matx: {
                        imgpath: catalCaseImgMATX,
                        icon: 'matx-case',
                        title: 'mATX',
                        text: 'ATX корпуса, самая распрастраненная модель.',
                        items: [
                            [
                                'Сравнить',
                                'FL-103',
                            ],
                            [
                                'Сравнить',
                                'FL-501',
                            ],
                            [
                                'Сравнить',
                                'FL-311',
                            ],
                            [
                                'Сравнить',
                                'FL-311',
                            ],
                            [
                                'Сравнить',
                                'FL-311',
                            ],
                            [
                                'Сравнить',
                                'FL-420',
                            ],
                            [
                                'Сравнить',
                                'FL-540',
                            ],
                        ],
                    },
                    mitx: {
                        imgpath: catalCaseImgMITX,
                        icon: 'mitx-case',
                        title: 'mITX',
                        text: 'ATX корпуса, самая распрастраненная модель.',
                        items: [
                            [
                                'Сравнить',
                                'FL-103',
                            ],
                            [
                                'Сравнить',
                                'FL-501',
                            ],
                            [
                                'Сравнить',
                                'FL-311',
                            ],
                            [
                                'Сравнить',
                                'FL-311',
                            ],
                            [
                                'Сравнить',
                                'FL-311',
                            ],
                            [
                                'Сравнить',
                                'FL-420',
                            ],
                            [
                                'Сравнить',
                                'FL-540',
                            ],
                        ],
                    },
                },
            },
            power: {
                header: {
                    title: 'Блоки питания',
                    adv: [
                        'Отказоустойчивость',
                        'Энергоэффективность',
                    ],
                    text: 'Компьютерный корпус служит защитной внешней оболочкой и одновременно каркасом, к которому крепятся все остальные компоненты компьютера.',
                    icons: [
                        [
                            'atx-power',
                            'ATX',
                        ],
                        [
                            'tfx-power',
                            'TFX',
                        ],
                    ],
                },
                products: {
                    atx: {
                        imgpath: catalPowerImgATX,
                        icon: 'atx-power',
                        title: 'ATX',
                        text: 'ATX корпуса, самая распрастраненная модель.',
                        items: [
                            [
                                'Сравнить',
                                'FL-103',
                            ],
                            [
                                'Сравнить',
                                'FL-405',
                            ],
                            [
                                'Сравнить',
                                'FL-220',
                            ],
                            [
                                'Сравнить',
                                'FL-216',
                            ],
                        ],
                    },
                    tfx: {
                        imgpath: catalPowerImgMATX,
                        icon: 'tfx-power',
                        title: 'TFX',
                        text: 'ATX корпуса, самая распрастраненная модель.',
                        items: [
                            [
                                'Сравнить',
                                'FL-103',
                            ],
                            [
                                'Сравнить',
                                'FL-405',
                            ],
                        ],
                    },
                },
            },
            memory: {
                header: {
                    title: 'Модули памяти',
                    adv: [
                        'Стабильность',
                        'Функциональность',
                    ],
                    text: 'Компьютерный корпус служит защитной внешней оболочкой и одновременно каркасом, к которому крепятся все остальные компоненты компьютера.',
                    icons: [
                        [
                            'dimm-memory',
                            'DIMM',
                        ],
                        [
                            'sodimm-memory',
                            'SОDIMM',
                        ],
                    ],
                },
                products: {
                    dimm: {
                        icon: 'dimm-memory',
                        title: 'DIMM',
                        text: 'DIMM, скорость и надежность',
                        filtersDdr: [
                            [
                                'act',
                                'DDR1',
                            ],
                            [
                                'act',
                                'DDR2',
                            ],
                            [
                                'act',
                                'DDR3',
                            ],
                            [
                                'act',
                                'DDR4',
                            ],
                        ],
                        filtersGb: [
                            [
                                'act',
                                '1GB',
                            ],
                            [
                                'act',
                                '2GB',
                            ],
                            [
                                'act',
                                '4GB',
                            ],
                            [
                                'act',
                                '8GB',
                            ],
                            [
                                'not',
                                '16GB',
                            ],
                        ],
                        items: [
                            [
                                [
                                    '2Gb',
                                    'DDR3',
                                ],
                                [
                                    '2Gb',
                                    '1600MHz',
                                    'DDR3',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '1Gb',
                                    'DDR4',
                                ],
                                [
                                    '1Gb',
                                    '1600MHz',
                                    'DDR4',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '4Gb',
                                    'DDR2',
                                ],
                                [
                                    '4Gb',
                                    '1600MHz',
                                    'DDR2',
                                ],
                                'FLDMHS032G',
                            ],
                        ],
                    },
                    sodimm: {
                        icon: 'sodimm-memory',
                        title: 'SODIMM',
                        text: 'DIMM, скорость и надежность',
                        filtersDdr: [
                            [
                                'act',
                                'DDR2',
                            ],
                            [
                                'act',
                                'DDR3',
                            ],
                            [
                                'act',
                                'DDR3L',
                            ],
                            [
                                'act',
                                'DDR4',
                            ],
                        ],
                        filtersGb: [
                            [
                                'act',
                                '1GB',
                            ],
                            [
                                'act',
                                '2GB',
                            ],
                            [
                                'act',
                                '4GB',
                            ],
                            [
                                'act',
                                '8GB',
                            ],
                            [
                                'not',
                                '16GB',
                            ],
                        ],
                        items: [
                            [
                                [
                                    '8Gb',
                                    'DDR3',
                                ],
                                [
                                    '8Gb',
                                    '1600MHz',
                                    'DDR3',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '2Gb',
                                    'DDR3',
                                ],
                                [
                                    '2Gb',
                                    '1600MHz',
                                    'DDR3',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '1Gb',
                                    'DDR4',
                                ],
                                [
                                    '1Gb',
                                    '1600MHz',
                                    'DDR4',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '8Gb',
                                    'DDR1',
                                ],
                                [
                                    '8Gb',
                                    '1600MHz',
                                    'DDR1',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '4Gb',
                                    'DDR2',
                                ],
                                [
                                    '4Gb',
                                    '1600MHz',
                                    'DDR2',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '2Gb',
                                    'DDR3',
                                ],
                                [
                                    '2Gb',
                                    '1600MHz',
                                    'DDR3',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '8Gb',
                                    'DDR1',
                                ],
                                [
                                    '8Gb',
                                    '1600MHz',
                                    'DDR1',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '2Gb',
                                    'DDR3L',
                                ],
                                [
                                    '2Gb',
                                    '1600MHz',
                                    'DDR3L',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '4Gb',
                                    'DDR3',
                                ],
                                [
                                    '2Gb',
                                    '1600MHz',
                                    'DDR3',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '1Gb',
                                    'DDR4',
                                ],
                                [
                                    '1Gb',
                                    '1600MHz',
                                    'DDR4',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '8Gb',
                                    'DDR4',
                                ],
                                [
                                    '8Gb',
                                    '1600MHz',
                                    'DDR4',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '4Gb',
                                    'DDR3L',
                                ],
                                [
                                    '4Gb',
                                    '1600MHz',
                                    'DDR3L',
                                ],
                                'FLDMHS032G',
                            ],
                        ],
                    },
                },
            },
            ssd: {
                header: {
                    title: 'SSD Накопители',
                    adv: [
                        'Скорость',
                        'Многозадачность',
                    ],
                    text: 'Компьютерный корпус служит защитной внешней оболочкой и одновременно каркасом, к которому крепятся все остальные компоненты компьютера.',
                    icons: [
                        [
                            'dom-ssd',
                            'DOM',
                        ],
                        [
                            'sata-ssd',
                            '2.5" SATA',
                        ],
                    ],
                },
                products: {
                    dom: {
                        icon: 'dom-ssd',
                        title: 'DOM',
                        text: 'DIMM, скорость и надежность',
                        filtersGb: [
                            [
                                'act',
                                '1GB',
                            ],
                            [
                                'act',
                                '2GB',
                            ],
                            [
                                'act',
                                '4GB',
                            ],
                            [
                                'act',
                                '8GB',
                            ],
                            [
                                'not',
                                '16GB',
                            ],
                        ],
                        items: [
                            [
                                [
                                    '8Gb',
                                ],
                                [
                                    '8Gb',
                                    'SATA',
                                    'MLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '2Gb',
                                ],
                                [
                                    '2Gb',
                                    'mSATA',
                                    'MLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '8Gb',
                                ],
                                [
                                    '8Gb',
                                    'SATA',
                                    'QLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '4Gb',
                                ],
                                [
                                    '4Gb',
                                    'mSATA',
                                    'TLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '2Gb',
                                ],
                                [
                                    '2Gb',
                                    'SATA',
                                    'MLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '8Gb',
                                ],
                                [
                                    '8Gb',
                                    'mSATA',
                                    'QLC',
                                ],
                                'FLDMHS032G',
                            ],
                        ],
                    },
                    sata: {
                        icon: 'sata-ssd',
                        title: '2,5”SATA',
                        text: 'DIMM, скорость и надежность',
                        filtersSata: [
                            [
                                'act',
                                'X3',
                            ],
                            [
                                'act',
                                'X3SE',
                            ],
                            [
                                'act',
                                'X4SE',
                            ],
                            [
                                'act',
                                'X5',
                            ],
                            [
                                'act',
                                'X5SE',
                            ],
                            [
                                'act',
                                'X6SE',
                            ],
                        ],
                        range: [
                            '30 GB',
                            '1024 GB',
                        ],
                        items: [
                            [
                                [
                                    '30Gb',
                                    'X3',
                                ],
                                [
                                    '30Gb',
                                    'TLC',
                                ],
                                'FLSSD240X5SE',
                            ],
                            [
                                [
                                    '30Gb',
                                    'X3',
                                ],
                                [
                                    '30Gb',
                                    'TLC',
                                ],
                                'FLSSD240X5SE',
                            ],
                            [
                                [
                                    '32Gb',
                                    'X4SE',
                                ],
                                [
                                    '32Gb',
                                    'MLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '32Gb',
                                    'X4SE',
                                ],
                                [
                                    '32Gb',
                                    'MLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '60Gb',
                                    'X5',
                                ],
                                [
                                    '60Gb',
                                    'QLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '60Gb',
                                    'X5',
                                ],
                                [
                                    '60Gb',
                                    'QLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '64Gb',
                                    'X5SE',
                                ],
                                [
                                    '64Gb',
                                    'MLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '64Gb',
                                    'X5SE',
                                ],
                                [
                                    '64Gb',
                                    'MLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '120Gb',
                                    'X6SE',
                                ],
                                [
                                    '120Gb',
                                    'QLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '120Gb',
                                    'X6SE',
                                ],
                                [
                                    '120Gb',
                                    'QLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '128Gb',
                                    'X3',
                                ],
                                [
                                    '128Gb',
                                    'MLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '128Gb',
                                    'X3',
                                ],
                                [
                                    '128Gb',
                                    'MLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '256Gb',
                                    'X4SE',
                                ],
                                [
                                    '256Gb',
                                    'MLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '256Gb',
                                    'X4SE',
                                ],
                                [
                                    '256Gb',
                                    'MLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '480Gb',
                                    'X5',
                                ],
                                [
                                    '480Gb',
                                    'MLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '480Gb',
                                    'X5',
                                ],
                                [
                                    '480Gb',
                                    'MLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '512Gb',
                                    'X5SE',
                                ],
                                [
                                    '512Gb',
                                    'MLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '512Gb',
                                    'X5SE',
                                ],
                                [
                                    '512Gb',
                                    'MLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '960Gb',
                                    'X6SE',
                                ],
                                [
                                    '960Gb',
                                    'MLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '960Gb',
                                    'X6SE',
                                ],
                                [
                                    '960Gb',
                                    'MLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '1024Gb',
                                    'X4SE',
                                ],
                                [
                                    '1024Gb',
                                    'MLC',
                                ],
                                'FLDMHS032G',
                            ],
                            [
                                [
                                    '1024Gb',
                                    'X4SE',
                                ],
                                [
                                    '1024Gb',
                                    'MLC',
                                ],
                                'FLDMHS032G',
                            ],
                        ],
                    },
                },
            },
        },
        distributor: {
            title: 'Эксклюзивный дистрибьютор в России!',
            text: 'Laborum ullamco nostrud in duis veniam eu elit minim consequat deserunt do in eu. Id qui commodo duis fugiat aliqua incididunt pariatur ex labore. Lorem culpa id cupidatat anim nulla sunt velit minim laborum cupidatat sunt incididunt.',
            mainContact: [
                `${imgPath}logo.svg`,
                'mailto:help@foxline.ru',
                'tel:+7 229 555-0109',
            ],
            itemsTitle: 'Где купить:',
            items: [
                [
                    `${logosImg}ulmart.png`,
                    `tel:+7 495 287-42-41`,
                ],
                [
                    `${logosImg}regard.png`,
                    'tel:+7 495 287-42-41',
                ],
                [
                    `${logosImg}trade.png`,
                    'tel:+7 495 287-42-41',
                ],
                [
                    `${logosImg}logo-dns.png`,
                    'tel:+7 495 287-42-41',
                ],
                [
                    `${logosImg}logo-xcom.png`,
                    'tel:+7 495 287-42-41',
                ],
            ],
        },
        about: {
            header: {
                title: 'О компании',
                img: `${imgPath}about.jpg`,
                advantage: [
                    [
                        '275 000',
                        'Реализованных продуктов',
                    ],
                    [
                        '250',
                        'Сотрудников',
                    ],
                    [
                        '25',
                        'Магазинов',
                    ],
                    [
                        '7 лет',
                        'На рынке',
                    ],
                ],
            },
            textContent: [
                [
                    'Do eu deserunt esse labore minim non',
                    'Do eu deserunt esse labore minim non minim. In pariatur elit sit Lorem officia enim. Sit tempor reprehenderit pariatur amet cillum fugiat pariatur cupidatat et voluptate qui. Magna cupidatat ipsum irure pariatur aute duis incididunt veniam anim culpa duis ad do. Ex mollit consequat quis cupidatat exercitation. Id enim reprehenderit tempor ipsum aliqua fugiat exercitation nulla nisi est labore ea ea aliqua.',
                ],
                [
                    'Do eu deserunt esse labore minim non',
                    'Do eu deserunt esse labore minim non minim. In pariatur elit sit Lorem officia enim. Sit tempor reprehenderit pariatur amet cillum fugiat pariatur cupidatat et voluptate qui. Magna cupidatat ipsum irure pariatur aute duis incididunt veniam anim culpa duis ad do. Ex mollit consequat quis cupidatat exercitation. Id enim reprehenderit tempor ipsum aliqua fugiat exercitation nulla nisi est labore ea ea aliqua.',
                ],
            ],
        },
        form: {
            title: 'Обратная связь',
            inputs: {
                name: 'Ваше имя',
                company: 'Компания',
                email: 'Email',
                phone: 'Телефон',
                message: 'Ваше собщение ...',
            },
            btn: 'Свяжитесь со мной',
            thanks: {
                title: 'Спасибо за обращение!',
                text: 'Мы обязательно свяжемся с Вами в ближайшее время.',
            },
        },
        modalCase: {
            title: 'FL-103',
            pdf: 'Pdf',
            img: 5,
            icons: [
                [
                    'power-product',
                    '450w',

                ],
                [
                    'voltage-product',
                    '350mm',
                ],
                [
                    'sata-product',
                    'SATA'
                ],
            ],
            technical: {
                title: 'Техническое описание',
                table: [
                    [
                        'Model',
                        '1',
                    ],
                    [
                        'Power, W',
                        '25',
                    ],
                    [
                        'Form Factor',
                        '26',
                    ],
                    [
                        'Fan Size, mm',
                        '55',
                    ],
                    [
                        'Main power',
                        '65',
                    ],
                    [
                        'Cable Information',
                        '68',
                    ],
                    [
                        'FDD',
                        '66',
                    ],
                    [
                        'SATA',
                        '879',
                    ],
                    [
                        'PATA',
                        '92',
                    ],
                    [
                        'PCI-E',
                        '654980',
                    ],
                    [
                        'Short-circuit protection (SCP)',
                        '123',
                    ],
                    [
                        'Overvoltage protection (OVP)',
                        '9820',
                    ],
                    [
                        'Overload protection (OLP)',
                        '90635',
                    ],
                    [
                        'Over-current protection (OCP)',
                        '910',
                    ],
                    [
                        'Power factor correction (PFC)',
                        '3210',
                    ],
                    [
                        'AC Input, V',
                        '3200',
                    ],
                    [
                        'Power switch',
                        '25602',
                    ],
                    [
                        'DC Output, А',
                        '3219',
                    ],
                    [
                        '+3,3V',
                        '640',
                    ],
                    [
                        '+5V',
                        '6400650',
                    ],
                    [
                        '+12V',
                        '6004',
                    ],
                    [
                        '+5VSb',
                        '42',
                    ],
                    [
                        '-12V',
                        '0015',
                    ],
                ],
            },
        },
        matches: {
            title: 'Сравнение',
            tableTitle: [
                'Форм-фактор',
                'Блок питания',
                'Размещение блока питания',
                'Внешние отсеки 5.25"',
                'Внешние отсеки 3.5"',
                'Внутренние отсеки 3.5"',
                'Внутренние отсеки 2.5"',
                'Порты USB 2.0 на передней панели',
            ],
            items: [
                [
                    'FL-103',
                    'Midi Tower',
                    'ATX',
                    'Горизонтальное, в верхней части корпуса.',
                    '3',
                    '1',
                    '3',
                    '2',
                    '2',
                ],
            ],
        },
        footer: {
            designedBy: 'Website<br>development by',
            copy: '© Foxline 2019',
        },
    }

- const menu = mainText.menu;
- const menuInset = mainText.menuInset;
- const menuInsetLinks = mainText.menuInsetLinks;
- const sitebar = mainText.sitebar;
- const stbLink = mainText.sitebarHomeLink;
- const footer = mainText.footer;
- const homePage = mainText.homePage;

//- Catalog Pages
- const catalog = mainText.catalog;

//- Case
- const catalogCase = catalog.case;
//- Power
- const catalogPower = catalog.power;
//- Memory
- const catalogMemory = catalog.memory;
//- Memory
- const catalogSsd = catalog.ssd;

//- Distributors
- const distributor = mainText.distributor;

//- About page
- const aboutPAge = mainText.about;

//- Contact Form
- const form = mainText.form;

//- Modal Case
- const modalCase = mainText.modalCase;

//- Modal maches
- const match = mainText.matches;