@include bp(766px) {
    .header, 
    .home-power,
    .home-memory,
    .home-ssd {
        &__wrap {
            padding-left: 0;
            max-width: 100%;
        }
        &__title {
            @extend %title-h1;
            text-align: center;
        }
        &__adv {
            margin-bottom: 27px;
            justify-content: center;
        }
        &__adv-item {
            @extend %title-h2;
        }
        // &__btn {
        //     @extend %title-h2;
        //     width: 173px;
        //     height: 40px;
        //     margin: 0 auto;
        // }
    }
    .header__btn,
    .home-power__btn,
    .home-memory__btn,
    .home-ssd__btn {
        margin: 0 auto;
    }
    .home-header,
    .home-memory-sect,
    .home-power-sect,
    .home-ssd-sect {
        padding-top: 85px;
    }
    .home-header, 
    .home-power-sect,
    .home-memory-sect,
    .home-ssd-sect {
        position: relative;
        height: 100vh;
        overflow: hidden;
    }
    .header,
    .home-power,
    .home-memory,
    .home-ssd {
        &__text {
            text-align: center;
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
    .hms-sect {
        display: none;
    }
}