@include bp(1024px) {
    .header {
        &__wrap {
            max-width: 321px;
        }
    }
    // .home-header, 
    // .home-memory-sect, 
    // .home-power-sect, 
    // .home-ssd-sect {
    //     height: 448px;
    // }
    .home-power-sect {
        background-position-x: -80px;
    }
    .home-memory-sect {
        background-position-x: -460px;
    }
    .home-power__wrap, 
    .home-ssd__wrap {
        padding-left: 150px;
    }
    // .catalog-header-sect {
    //     &.case-header {
    //         background-size: contain;
    //     }
    // }
}