@include bp(360px) {
    .mob-img {
        &__power {
            width: 188.45px;
            height: 231.27px;
        }
        &__memory {
            width: 281px;
            height: 207px;
        }
        &__ssd {
            width: 318.02px;
            height: 211.94px;
        }
    }
    .nav__search.active .nav__search-input {
        width: 78px;
    }
}