@include bp(766px) {
    .header-ab, .about-cont-sect, .about-contact-sect {
        .container.pl-inset {
            padding-left: 20px;
        }
    }
    .header-about__wrap {
        width: 100%;
    }
    .header-about__adv {
        display: block;
        &-item {
            margin-bottom: 20px;
        }
    }
    .form__message {
        width: 100%;
    }
}