@include bp(1190px) {
    .header-ab, .about-cont-sect, .about-contact-sect {
        .container.pl-inset {
            padding-left: 140px;
        }
    }
    .header-about {
        flex-direction: column;
        &__adv {
            column-gap: 54px;
        }
    }
    .header-about__wrap_right {
        order: -1;
        margin-bottom: 30px;
    }
    .about-cont {
        flex-direction: column;
        &__wrap {
            margin-bottom: 30px;
        }
    }
}