// Footer 
footer.footer
    .container
        .footer__wrapper
            .footer__logo
                a(href="#").footer__logo-link
                    img(src=`${imgPath}footer-logo.svg`, alt="Logotype")
            ul.footer__menu
                - for(let i = 0; i < menu.length; i++)
                    li.footer__menu-item
                        a(href="#").footer__menu-link
                            span= menu[i]
            .footer__wrap
                .footer__des
                    a(href="#").footer__des-link
                        span
                            = footer.designedBy.split('<br>')[0] + "\n"
                            = footer.designedBy.split('<br>')[1]
                        i 
                            img(src=`${imgPath}dev-logo.svg`, alt="Logotype")
                    a(href="#").footer__des-link
                        i 
                            img(src=`${imgPath}gt-logo.svg`, alt="Logotype")
                p.footer__copy= footer.copy
