// Navigation
nav.navigation
    .container
        .nav
            .nav__logo
                a(href="index.html").nav__logo-link
                    img(src=`${imgPath}logo.svg`, alt="Logotype Fox Line")
            .nav__burger
                button.nav__burger-btn.btn-menu
                    span
                    span
                    span
            .nav__pop
                ul.nav__menu
                    - for(let i = 0; i < menu.length; i++)
                        - if(i === 0) 
                            li.nav__menu-item
                                a(href=`${mainText.menuLink[i]}` class=`nav__menu-link ${(i == 3) ? 'contact' : ''}`)
                                    span= menu[i]
                                ul.nav__menu-inset
                                    - for(let x = 0; x < menuInset.length; x++)
                                        li.nav__menu-ins-item
                                            a(href=`${menuInsetLinks[x]}` class=`nav__menu-ins-link ${(x == 0) ? 'active' : ''}`)  
                                                span= menuInset[x]
                        - else 
                            li.nav__menu-item
                                a(href=`${mainText.menuLink[i]}` class=`nav__menu-link ${(i == 3) ? 'contact' : ''}`)
                                    span= menu[i]
                .nav__search.search
                    form.nav__search-form
                        .nav__search-wrap
                            input(type="text" data-search).nav__search-input
                        button.nav__search-btn
                            +icon('search-ico', 'black')
// End Navigation
