// Navigation
nav.navigation
    .container
        .nav
            .nav__logo
                a(href="index.html").nav__logo-link
                    img(src=`${imgPath}logo.svg`, alt="Logotype Fox Line")
            .nav__burger
                button.nav__burger-btn.btn-menu
                    span
                    span
                    span
            .nav__pop
                ul.nav__menu
                    - for(let i = 1; i < menu.length; i++)
                        li.nav__menu-item
                            a(href=`${mainText.menuLink[i]}` class=`nav__menu-link ${(i == 3) ? 'contact' : ''}`)
                                span= menu[i]
                .nav__search.search
                    form.nav__search-form
                        .nav__search-wrap
                            input(type="text" data-search).nav__search-input
                        button.nav__search-btn
                            +icon('search-ico', 'black')
// End Navigation
