script(src=`${mainVar.path.js}jquery.min.js`)
script(src=`${mainVar.path.js}svg4everybody.min.js`)
script(src=`${mainVar.path.js}swiper.min.js`)
script(src=`${mainVar.path.js}nouislider.min.js`)
script(src=`${mainVar.path.js}main.js`)