// Sitebar 
.sitebar.stb.white.home-stb
    ul.sitebar__wrap
        - for(let i = 0; i < sitebar.length; i++)
            li.sitebar__item
                a(href=`${stbLink[i]}` class=`sitebar__link stb-lnk ${(i == 0) ? 'active' : ''}` data-sect=`${sitebar[i]}`)
                    span= sitebar[i]
// End Sitebar 