@include bp(766px) {
    %title-h1 {
        font-size: rem(20);
        line-height: rem(23);
    }
    %title-h2 {
        font-size: rem(14);
        line-height: rem(19);
    }
    .navigation {
        background-color: $white;
        padding-bottom: 12px;
    }
    .nav {
        &__logo {
            margin-top: 9px;
            z-index: 99;
        }
        &__logo-link {
            width: 105px;
        }
        &__pop {
            width: 100%;
            padding-right: 70px;
        }
        &__menu {
            padding-left: 20px;
            margin-right: auto;
            padding-right: 0;
            &-item {
                &:first-child {
                    margin-bottom: 30px;
                }
                margin-bottom: 30px;
            }
        }
        &__search {
            margin-top: -5px;
        }
    }
    .nav__search.active .nav__search-input {
        width: 108px;
    }
    // .nav {
    //     &__log {
    //         &-link {
    //             width: 105px;
    //         }
    //     }
    // }
    .sitebar {
        display: none;
    }
    .home-header, 
    .home-memory-sect, 
    .home-power-sect, 
    .home-ssd-sect {
        padding-top: 124px;
        background-image: none;
    }
    .mob-img {
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        // .mob-img__case
        &__case {
            width: 270.02px;
            height: 296.29px;
        }
        // .mob-img__power

        &__power {
            width: 228.45px;
            height: 291.27px;
            left: 50%;
            margin-left: -114px;
        }
        // .mob-img__memory

        &__memory {
            width: 341px;
            height: 267px;
            left: 20px;
        }
        // .mob-img__ssd

        &__ssd {
            width: 368.02px;
            height: 271.94px;
            left: auto;
            right: 0;
        }
    }
    
    .modal-form {
        width: 100%;
        &__title {
            @extend %title-h1;
        }
        &__wrap {
            &_bot {
                margin-top: 42px;
                .form__input {
                    width: 100%;
                }
            }
        }
        &__tanks {
            max-width: 95%;
        }
        &__tnks-title {
            @extend %title-h1;
        }
        &__tnks-text {
            font-size: rem(16);
        }
    }
    .form {
        padding-right: 24px;
        &__wrap {
            flex-direction: column;
            width: 100%;
            input {
                width: 100%;
                margin-bottom: 10px;
                margin-right: 0;
                &:first-child {
                    margin-right: 0;
                }
            }
            &_middle {
                margin: 0;
            }
        }
        &__btn {
            margin-top: 15px;
        }
    }
    .footer {
        &__wrapper, &__menu {
            flex-direction: column;
            align-items: flex-start;
        }
        &__menu  {
            flex-wrap: wrap;
            margin-top: 30px;
            margin-left: 0;
        }
        &__menu-item {
            margin-bottom: 15px;
            margin-right: 15px;
        }
        &__wrap {
            width: 100%;
        }
    }
    .nav__menu-inset {
        display: block;
        margin-top: 12px;
    }
    .modal-form__tanks {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .form__message {
        height: 70px;
    }
    .modal__wrap-img {
        position: relative;
        top: 0;
    }
    .modal__inform {
        margin: 0;
    }
    .header-distr__text {
        padding-left: 0;
    }
    .modal-form__wrap_bot {
        padding-right: 24px;
    }
}