@include bp(1190px) {
    .navigation {
        padding-top: 12px;
    }
    .nav {
        &.menu-open {
            &:after {
                display: none;
            }
            .nav__pop {
                transform: translateX(0);
            }
        }
		// .nav__logo

		&__logo {
		}

		// .nav__logo-link

		&__logo-link {
		}

		// .nav__burger

		&__burger {
		}

		// .nav__burger-btn

		&__burger-btn {
		}

		// .nav__pop

		&__pop {
            width: 585px;
            padding: 11px 111px 0 0;
            align-items: flex-end;
            flex-direction: column;
            top: 0;
            right: 0;
            transform: translateX(100%);
            height: 100vh;
            background-color: $white;
		}

		// .nav__menu

		&__menu {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 42px 273px 0 0px;
		}

		// .nav__menu-item

		&__menu-item {
            margin-right: 0;
            margin-bottom: 69px;
            &:last-child {
                margin-bottom: 0;
            }
		}

		// .nav__menu-link

		&__menu-link {
		}

		// .nav__search

		&__search {
            order: -1;
		}

		// .nav__search-form

		&__search-form {
		}

		// .nav__search-wrap

		&__search-wrap {
		}

		// .nav__search-input

		&__search-input {
		}

		// .nav__search-btn

		&__search-btn {
		}
    }
    .sitebar {
        &__wrap {
            // padding-top: 28px;
        }
    }
}
@media (min-width: 1500px) {
  .modal,
  .modal-form,
  .match {
    width: 89%;
  }
  .modal {
    padding-left: 180px;
  }
  .header-about,
  .about-cont {
	  justify-content: space-around;
  }
  .about-contact-sect {
	  .container {
		  &.pl-inset {
			  padding-left: 420px;
		  }
	  }
  }
  .header-distr-sect {
	  .container {
		  &.pl-inset {
			  padding-left: 220px;
		  }
	  }
  }
}