@include bp(1024px) {
    .footer {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__wrap {
            width: 287px;
            margin-top: 30px;
            margin-left: 0;
        }
        &__menu {
            margin-left: auto;
        }
    }
    .modal-form {
        width: 585px;
        padding: 24px 0 0 24px;
        &__title {
            margin-left: 27px;
        }
        &__wrap {
            &_bot {
                max-width: 499px;
                margin-top: 92px;
                margin-left: 0;
            }
        }
    }
    .form {
        &__wrap {
            input {
                &:first-child {
                    margin-right: 25px;
                }
            }
        }
    }
    .distr__wrap_bot {
        flex-direction: column;
    }
}